n8n-workflow-all-templates/00/01/19/11921_Bulk_WhatsApp___Gmail_messenger_with_Google_Sheets_status_tracking_via_InboxPlus.json
{
  "id": "r7JePgv59OoK3Ob4",
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Bulk WhatsApp & Gmail messenger with Google Sheets status tracking via InboxPlus",
    "wechat": "youandme10086",
    "id": 11921,
    "update_time": "2026-02-13"
  },
  "name": "Multi-Channel Outreach Automation using Whatsapp, Inboxplus and Gmail",
  "tags": [],
  "nodes": [
    {
      "id": "1103a0e5-843d-407d-ae00-493ec5e18312",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1120,
        64
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "3146c4f2-e201-45b4-9895-861882c65e0f",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -672,
        64
      ],
      "parameters": {
        "options": {},
        "batchSize": 3
      },
      "typeVersion": 1
    },
    {
      "id": "6dbfa0a8-e5bb-40c0-a25c-c77d4e384fc0",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "onError": "continueRegularOutput",
      "position": [
        640,
        224
      ],
      "webhookId": "0dbc99ac-e27b-4e70-abcd-ef7533da4870",
      "parameters": {
        "sendTo": "={{ $('Get Contacts').item.json.Email }}",
        "message": "=\n{{ $json.gmailBodyHtml }}\n\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "appendAttribution": false
        },
        "subject": "={{ $('PrepareEmail email').item.json.subject }}\n"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "gmailOAuth2 Credential"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "7243970d-0fdf-4241-8c9e-22940ea23bc0",
      "name": "Whatsapp Failure",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1184,
        -224
      ],
      "parameters": {
        "columns": {
          "value": {
            "Message Sent": "Failed",
            "Phone Number": "={{$json['Phone Number']}}"
          },
          "schema": [
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail Sent",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Mail Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Sent",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Message Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Phone Number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 372585685,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B-ban2DAJLUzlf85zRkpP-QrdGsoVdQoBvCNhRW7sgs/edit#gid=372585685",
          "cachedResultName": "Bulk Messenger"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1B-ban2DAJLUzlf85zRkpP-QrdGsoVdQoBvCNhRW7sgs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B-ban2DAJLUzlf85zRkpP-QrdGsoVdQoBvCNhRW7sgs/edit?usp=drivesdk",
          "cachedResultName": "InfographAI"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "acf9fa1e-7f44-4439-96a0-848daef508d6",
      "name": "Mail Failure",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1184,
        240
      ],
      "parameters": {
        "columns": {
          "value": {
            "Message Sent": "Failed",
            "Phone Number": "={{$json['Phone Number']}}"
          },
          "schema": [
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail Sent",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Mail Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Sent",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Message Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Phone Number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 372585685,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B-ban2DAJLUzlf85zRkpP-QrdGsoVdQoBvCNhRW7sgs/edit#gid=372585685",
          "cachedResultName": "Bulk Messenger"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1B-ban2DAJLUzlf85zRkpP-QrdGsoVdQoBvCNhRW7sgs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B-ban2DAJLUzlf85zRkpP-QrdGsoVdQoBvCNhRW7sgs/edit?usp=drivesdk",
          "cachedResultName": "InfographAI"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "97a875b3-999a-4926-b1a9-dc6062fc23a1",
      "name": "Sent",
      "type": "n8n-nodes-base.if",
      "position": [
        288,
        -176
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d4d9340e-0f9c-495c-982f-8c0c3bfee339",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.messages[0].message_status }}",
              "rightValue": "accepted"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "65471dba-5d0d-468a-a3b3-4249ce1f2c3c",
      "name": "Delivered",
      "type": "n8n-nodes-base.if",
      "position": [
        864,
        224
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d4d9340e-0f9c-495c-982f-8c0c3bfee339",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              },
              "leftValue": "={{ $json.labelIds }}",
              "rightValue": "SENT"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "f69e256d-782d-4628-9ec8-ef1c662dfb59",
      "name": "Get Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -896,
        64
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": 372585685
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B-ban2DAJLUzlf85zRkpP-QrdGsoVdQoBvCNhRW7sgs"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "b197ed60-6cac-41a3-992a-d8163b857d84",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1184,
        -16
      ],
      "parameters": {
        "columns": {
          "value": {
            "Mail Sent": "Sent",
            "Message Sent": "Sent",
            "Phone Number": "={{ $('Get Contacts').item.json['Phone Number'] }}"
          },
          "schema": [
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail Sent",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Mail Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Sent",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Message Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Phone Number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 372585685,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B-ban2DAJLUzlf85zRkpP-QrdGsoVdQoBvCNhRW7sgs/edit#gid=372585685",
          "cachedResultName": "Bulk Messenger"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1B-ban2DAJLUzlf85zRkpP-QrdGsoVdQoBvCNhRW7sgs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B-ban2DAJLUzlf85zRkpP-QrdGsoVdQoBvCNhRW7sgs/edit?usp=drivesdk",
          "cachedResultName": "InfographAI"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "c4c5b14d-47be-4b59-84de-d34b6ec42cc2",
      "name": "Send template",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        64,
        -176
      ],
      "webhookId": "5960db06-302e-4226-b262-3b3132e3e0d8",
      "parameters": {
        "template": "hello_world|en_US",
        "phoneNumberId": "986729097850591",
        "recipientPhoneNumber": "={{ String($json['Phone Number']) }}\n"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "credential-id",
          "name": "whatsAppApi Credential"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "a996d949-d34f-4be9-8b10-d03d2975e905",
      "name": "PrepareEmail email",
      "type": "@itechnotion/n8n-nodes-inboxplus.inboxPlus",
      "position": [
        0,
        224
      ],
      "parameters": {
        "templateId": "111ce91e-b0c2-4513-8cfa-845979431223",
        "recipientEmail": "={{ $json.Email }}"
      },
      "credentials": {
        "inboxPlusApi": {
          "id": "credential-id",
          "name": "inboxPlusApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "3483c1f6-e8f0-49b8-83f4-dc26926294a9",
      "name": "IF Mail Pending",
      "type": "n8n-nodes-base.if",
      "position": [
        -224,
        224
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "56dfd845-5e1b-4c79-aeb7-59bd71f8b721",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json['Mail Sent'] }}",
              "rightValue": "Pending"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "4cfde84b-d557-4413-bac9-9542188ba3cc",
      "name": "IF WhatsApp Pending",
      "type": "n8n-nodes-base.if",
      "position": [
        -176,
        -176
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "56dfd845-5e1b-4c79-aeb7-59bd71f8b721",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json['Message Sent'] }}",
              "rightValue": "Pending"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "870e8784-c453-4e9e-8b4a-ccc5d42bcabe",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1648,
        -448
      ],
      "parameters": {
        "width": 496,
        "height": 912,
        "content": "## Bulk WhatsApp + Gmail Sender\n\nThis workflow sends WhatsApp messages and HTML emails in bulk using contact data stored in Google Sheets. Each contact is processed independently, allowing WhatsApp and Email to operate as separate, status-aware channels.\n\nThe workflow is designed to be safe to re-run. Messages are only sent if their respective channel is still marked as pending, preventing duplicate sends even if the workflow is executed multiple times.\n\nEmails support three image delivery modes: inline images rendered inside the email body, attachments only, or both inline and attachment. This makes the workflow flexible for marketing emails, transactional messages, or internal notifications.\n\nContacts are processed in batches to control throughput and avoid API rate limits. After each message attempt, delivery results are written back to Google Sheets, creating a reliable source of truth for reporting and retries.\n\n### How it works\n\n\t•\tReads contacts from Google Sheets\n\t•\tProcesses rows in controlled batches\n\t•\tChecks channel-specific delivery status\n\t•\tSends WhatsApp and Email independently\n\t•\tUpdates delivery results back to the sheet\n\n### Setup steps\n\n\t1.\tConnect Google Sheets and select your contact sheet\n\t2.\tEnsure the sheet includes Phone Number, Email, Message Sent and Mail Sent columns\n\t3.\tAdd WhatsApp Cloud API credentials and select a template\n\t4.\tAdd InboxPlus API credentials and select a template\n\t5.\tAdd Gmail OAuth credentials\n\t6.\tExecute manually or activate for scheduled runs\n\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "99b14493-ee8a-46d2-8456-c7fd4c2abe18",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        -448
      ],
      "parameters": {
        "color": 7,
        "width": 592,
        "height": 912,
        "content": "## Step 1: Fetch contacts & batch processing\n\nReads contact data from Google Sheets and processes it in batches to control throughput and avoid API rate limits.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "e3dd0c5d-aa10-44e9-a57f-aae5527aa4b9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -448
      ],
      "parameters": {
        "color": 7,
        "width": 1008,
        "height": 416,
        "content": "## Step 3: WhatsApp message sending\n\nChecks if a phone number exists and the WhatsApp message is still pending, then sends the template and tracks delivery status."
      },
      "typeVersion": 1
    },
    {
      "id": "6a16e169-c2de-4261-a11b-2a91876bd6ee",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        32
      ],
      "parameters": {
        "color": 7,
        "width": 1488,
        "height": 432,
        "content": "## Step 2:  Email preparation & sending\n\nBuilds an HTML email, applies the selected image mode (inline, attachment, or both), and sends the email via Gmail.\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "ac59407a-4312-46e0-8751-c4524d6e6baf",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        -448
      ],
      "parameters": {
        "color": 7,
        "width": 400,
        "height": 912,
        "content": "## Step 4: Delivery status updates\n\nWrites success or failure results for each channel back to Google Sheets to enable tracking and safe retries.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "f7a90330-026c-4969-b642-46fd53c2a0f8",
      "name": "Has Phone Number",
      "type": "n8n-nodes-base.if",
      "position": [
        -448,
        -160
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "da83df40-c335-426e-8904-5d1ca3657567",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json['Phone Number'] }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "54183fb2-9695-4c29-ad09-f85215cf0686",
      "name": "Has Email Address",
      "type": "n8n-nodes-base.if",
      "position": [
        -448,
        224
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ba2d8af5-6fc6-4bc7-bb89-d8258a13e0a1",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Split In Batches').item.json.Email }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "66fe268a-c9ff-4f36-867a-b8ba18c70852",
      "name": "Build HTML Email",
      "type": "n8n-nodes-base.set",
      "position": [
        208,
        224
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "84691b0e-6901-4a41-be2f-7aa5a3a7da90",
              "name": "gmailBodyHtml",
              "type": "string",
              "value": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Email</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f4f6f8;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f6f8;\">\n    <tr>\n      <td align=\"center\" style=\"padding:30px 0;\">\n\n        <!-- Main container -->\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\"\n          style=\"background:#ffffff; border-radius:10px; padding:24px; font-family:Arial, Helvetica, sans-serif;\">\n\n          <!-- Greeting -->\n          <tr>\n            <td style=\"font-size:20px; font-weight:bold; color:#111827; padding-bottom:12px;\">\n              Hi {{ $('Get Contacts').item.json.Name }},\n            </td>\n          </tr>\n\n          <!-- Text -->\n          <tr>\n            <td style=\"font-size:14px; color:#374151; padding-bottom:20px; line-height:1.6;\">\n              Hope you’re having a great day!  \n              Here’s something fun we wanted to share with you 😄\n            </td>\n          </tr>\n\n          <!-- Image -->\n          <tr>\n            <td align=\"center\" style=\"padding-bottom:20px;\">\n              <img\n                src=\"https://drive.google.com/uc?id=1tc--ftXJE9dCvfq0yW3lvGvbOEnZviqP\"\n                \n                width=\"520\"\n                style=\"border-radius:8px; display:block; max-width:100%;\"\n              />\n            </td>\n          </tr>\n\n          <!-- Footer text -->\n          <tr>\n            <td style=\"font-size:14px; color:#374151; line-height:1.6;\">\n              Let us know what you think!  \n              We’ll be sharing more cool stuff soon 🚀\n            </td>\n          </tr>\n\n          <!-- Signature -->\n          <tr>\n            <td style=\"padding-top:24px; font-size:13px; color:#6b7280;\">\n              — Team InfographAI\n            </td>\n          </tr>\n\n        </table>\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>\n"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "9bc5380d-f644-4cf5-b654-238cc76b729c",
      "name": "Fetch Email Image",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        448,
        224
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1tc--ftXJE9dCvfq0yW3lvGvbOEnZviqP",
          "cachedResultUrl": "https://drive.google.com/file/d/1tc--ftXJE9dCvfq0yW3lvGvbOEnZviqP/view?usp=drivesdk",
          "cachedResultName": "images (2).jpeg"
        },
        "options": {},
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "credential-id",
          "name": "googleDriveOAuth2Api Credential"
        }
      },
      "typeVersion": 3
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a58f757-569f-46d5-975d-9dadd67aa571",
  "connections": {
    "Sent": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Whatsapp Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivered": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mail Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Delivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send template": {
      "main": [
        [
          {
            "node": "Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Mail Pending": {
      "main": [
        [
          {
            "node": "PrepareEmail email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Email": {
      "main": [
        [
          {
            "node": "Fetch Email Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Phone Number": {
      "main": [
        [
          {
            "node": "IF WhatsApp Pending",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Has Phone Number",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Email Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Image": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email Address": {
      "main": [
        [
          {
            "node": "IF Mail Pending",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "PrepareEmail email": {
      "main": [
        [
          {
            "node": "Build HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF WhatsApp Pending": {
      "main": [
        [
          {
            "node": "Send template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}