n8n-workflow-all-templates/00/00/67/6711_Automated_Lead_Response_Template_using_Google_Forms__Sheets__and_Gmail.json
{
  "id": "8bZ5jrRkcKltJSx8",
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Automated Lead Response Template using Google Forms, Sheets, and Gmail",
    "wechat": "youandme10086",
    "id": 6711,
    "update_time": "2025-11-10"
  },
  "name": "Lead Tracking Form",
  "tags": [],
  "nodes": [
    {
      "id": "46c75e4e-00ef-4d33-85f7-1c18913e5179",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        0,
        0
      ],
      "parameters": {
        "event": "rowAdded",
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1938874403,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vhcq8cpuQ0AafCBxO87-BUzB_GmrD_0RAabhuHvcV6M/edit#gid=1938874403",
          "cachedResultName": "Answers what are you interested in?"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1vhcq8cpuQ0AafCBxO87-BUzB_GmrD_0RAabhuHvcV6M",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vhcq8cpuQ0AafCBxO87-BUzB_GmrD_0RAabhuHvcV6M/edit?usp=drivesdk",
          "cachedResultName": "What are you interested in? (answers)"
        }
      },
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "mx0WyngAI2Ms56Jo",
          "name": "Google Sheets Trigger account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "c96f524e-29f9-45a3-9693-29db175edb22",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        208,
        0
      ],
      "webhookId": "72701fa0-b19c-4a61-b36e-61d6a9fa0481",
      "parameters": {
        "sendTo": "={{$json[\"Email\"]}}",
        "message": "=Hello {{$json[\"Full Name\"]}},<br><br> Thank you for contacting us. We've received your message:<br> <em>{{$json[\"Additional Message or Query\"]}}</em><br><br> We'll be in touch soon.<br><br> Best regards,<br> Your team",
        "options": {
          "ccList": "your@email.com"
        },
        "subject": "Thank you for contacting us!"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "tectbHBIstInTIbH",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "42904096-32fb-4925-8c3b-12dc663e20b2",
      "name": "Send a message1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        416,
        0
      ],
      "webhookId": "52074a1d-fecb-4dd3-9515-b1f3bb46ab13",
      "parameters": {
        "sendTo": "your@email.com",
        "message": "=📬 A new lead was received: <br><br> <strong>Name:</strong> {{$json[\"Full Name\"]}} <br> <strong>Email:</strong> {{$json[\"Email\"]}} <br> <strong>Phone:</strong> {{$json[\"Phone (optional)\"]}} <br> <strong>Interest:</strong> {{$json[\"What are you interested in?\"]}} <br> <strong>Message:</strong> {{$json[\"Additional message or Query\"]}} <br><br> 📄 <a href=\"https://docs.google.com/spreadsheets/d/1vhcq8cpuQ0AafCBxO87-BUzB_GmrD_0RAabhuHvcV6M/edit\">View spreadsheet answers</a>",
        "options": {},
        "subject": "📥 New lead from the form"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "tectbHBIstInTIbH",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "8ce6807b-11ee-481f-92df-5877e91fa1bb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -208
      ],
      "parameters": {
        "color": 3,
        "width": 688,
        "height": 176,
        "content": "📌 Workflow Overview\n\nThis automation listens for new responses submitted via Google Forms (captured in Google Sheets).\nIt sends:\n1. A personalized confirmation email to the lead\n2. An internal email notification to your team with the full submission details\n\n💡 Use this for lead capture, contact forms, quote requests, or any intake form."
      },
      "typeVersion": 1
    },
    {
      "id": "c0927800-ac78-4aca-8146-ea2f6072a7d3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        160
      ],
      "parameters": {
        "color": 6,
        "width": 224,
        "height": 400,
        "content": "📩 Email to Lead\n\nThis node sends a confirmation message to the person who filled out the form.\n\n✅ Make sure to:\n- Connect your Gmail account\n- Personalize the subject and message body\n- Use the correct field for the recipient email (e.g., “Email”)\n\nExample:\nTo: {{$json[\"Email\"]}}\nSubject: ¡Thank you for contacting us!\n"
      },
      "typeVersion": 1
    },
    {
      "id": "2d4e6536-dc29-4e47-bae0-b715073a1b6d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        160
      ],
      "parameters": {
        "height": 400,
        "content": "📣 Team Notification Email\n\nThis node sends an internal email with all the lead info to your team.\n\n✅ Replace the destination email (e.g., your@email.com)\n✅ You can CC multiple addresses if needed\n✅ Format the message as you like — right now it includes name, email, interest, and message\n\nUseful for: sales teams, support, or CRM assistants."
      },
      "typeVersion": 1
    },
    {
      "id": "5bd63215-43e2-40a1-b1fc-0df745feeaeb",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        160
      ],
      "parameters": {
        "height": 400,
        "content": "📊 Google Sheet Column Requirements\n\nMake sure your Google Sheet has these exact column headers:\n\n     - `Timestamp`\n     - `Full Name`\n     - `Email`\n     - `Phone Number (optional)`\n     - `What are you interested in?`\n     - `Additional message or query`\n\n💡 You can rename columns, but then update all field references in the workflow accordingly."
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d68ab531-c16a-4c64-b914-e272e0ee31d2",
  "connections": {
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}