n8n-workflow-all-templates/00/00/80/8032_Auto-Add_New_Calendly_Bookings_to_Google_Sheets.json
{
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Auto-Add New Calendly Bookings to Google Sheets",
    "wechat": "youandme10086",
    "id": 8032,
    "update_time": "2025-11-10"
  },
  "nodes": [
    {
      "id": "f99e1679-71a7-44f9-bdd5-948b9f25603d",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "width": 280,
        "height": 220,
        "content": "📅 **SETUP REQUIRED:**\n\n1. **Create Google Sheet:**\n   - Headers: Name | Email | Phone | Event Type\n   - Date | Time | Status | Meeting Link | Notes\n   - Replace YOUR_GOOGLE_SHEET_ID below\n\n2. **Calendly Webhook:**\n   - Calendly Account → Integrations → Webhooks\n   - Add webhook URL from node below\n   - Select: invitee.created event\n\n3. **Google Sheets OAuth:**\n   - Connect Google account credentials\n\n🎯 Auto-logs all new bookings with details!"
      },
      "typeVersion": 1
    },
    {
      "id": "e43f2bf7-edc3-4112-912a-5ce1417fcf8c",
      "name": "Calendly Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        224
      ],
      "webhookId": "calendly-booking-webhook",
      "parameters": {
        "path": "calendly-booking",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 1
    },
    {
      "id": "92230608-50d3-4e5a-be13-f6a0318dabec",
      "name": "Normalize Booking Data",
      "type": "n8n-nodes-base.code",
      "position": [
        208,
        224
      ],
      "parameters": {
        "jsCode": "// Normalize Calendly booking data\nconst webhookData = $input.first().json;\nconst payload = webhookData.payload || webhookData;\n\n// Handle different Calendly webhook structures\nconst event = payload.event || payload;\nconst invitee = event.invitee || event;\nconst eventType = event.event_type || event.event || {};\n\n// Extract meeting details\nconst startTime = new Date(event.start_time || event.scheduled_event?.start_time);\nconst endTime = new Date(event.end_time || event.scheduled_event?.end_time);\n\n// Parse custom form questions/answers\nconst questions = invitee.questions_and_responses || invitee.questions_and_answers || [];\nlet phone = '';\nlet notes = '';\n\n// Extract phone and notes from questions\nquestions.forEach(qa => {\n  const question = (qa.question || '').toLowerCase();\n  if (question.includes('phone') || question.includes('mobile')) {\n    phone = qa.answer || qa.response || '';\n  } else if (question.includes('note') || question.includes('comment') || question.includes('message')) {\n    notes += (qa.answer || qa.response || '') + ' ';\n  }\n});\n\nconst normalizedData = {\n  name: invitee.name || 'Unknown',\n  email: invitee.email || '',\n  phone: phone.trim(),\n  event_type: eventType.name || eventType.type || 'Meeting',\n  date: startTime.toLocaleDateString(),\n  time: `${startTime.toLocaleTimeString()} - ${endTime.toLocaleTimeString()}`,\n  status: invitee.status || event.status || 'Scheduled',\n  meeting_link: event.location?.join_url || event.join_url || '',\n  notes: notes.trim(),\n  duration: Math.round((endTime - startTime) / (1000 * 60)), // Duration in minutes\n  timezone: invitee.timezone || event.timezone || 'UTC',\n  booking_created: new Date().toISOString(),\n  calendly_event_id: event.uuid || event.id || '',\n  invitee_id: invitee.uuid || invitee.id || ''\n};\n\nconsole.log('Normalized Calendly booking:', {\n  name: normalizedData.name,\n  email: normalizedData.email,\n  event_type: normalizedData.event_type,\n  date: normalizedData.date,\n  time: normalizedData.time\n});\n\nreturn {\n  json: normalizedData\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "44827cf4-aa34-4df3-9a9f-63184fc1ee86",
      "name": "Save Booking to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        400,
        224
      ],
      "parameters": {
        "options": {
          "useAppend": true
        },
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "f3264f93-3929-4ae7-921a-b4df8d10ab01",
      "name": "Log Booking Success",
      "type": "n8n-nodes-base.code",
      "position": [
        608,
        224
      ],
      "parameters": {
        "jsCode": "// Optional: Send confirmation or notification\nconst booking = $input.first().json;\n\n// Log successful booking save\nconsole.log(`✅ Successfully saved booking for ${booking.name}`);\nconsole.log(`📅 Event: ${booking.event_type}`);\nconsole.log(`📧 Email: ${booking.email}`);\nconsole.log(`🕒 Time: ${booking.date} at ${booking.time}`);\n\n// You could extend this to send confirmation emails,\n// Slack notifications, or other integrations\n\nconst summary = {\n  success: true,\n  booking_summary: `New ${booking.event_type} booking for ${booking.name} on ${booking.date}`,\n  next_actions: [\n    'Booking saved to Google Sheets',\n    'Consider sending confirmation email',\n    'Add to calendar if needed'\n  ]\n};\n\nreturn {\n  json: summary\n};"
      },
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "Normalize Booking Data": {
      "main": [
        [
          {
            "node": "Save Booking to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Booking to Sheets": {
      "main": [
        [
          {
            "node": "Log Booking Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendly Booking Webhook": {
      "main": [
        [
          {
            "node": "Normalize Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}