n8n-workflow-all-templates/00/00/85/8527_Learn_n8n_Basics_in_3_Easy_Steps.json
{
  "id": "7T7MdxPsatjukMO9",
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Learn n8n Basics in 3 Easy Steps ✨",
    "wechat": "youandme10086",
    "id": 8527,
    "update_time": "2025-11-10"
  },
  "name": "n8n Basics",
  "tags": [],
  "nodes": [
    {
      "id": "6afe59b0-3831-41b8-9695-6df1a06db357",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        208
      ],
      "parameters": {
        "color": 7,
        "width": 1072,
        "height": 208,
        "content": "## ... now let's schedule it ⏰\n\n1. Double-click “Schedule” to set when it runs\n\n2. Connect your Gmail and set the recepient\n\n3. To test, click “Execute workflow” on \nthe \"Schedule\" node"
      },
      "typeVersion": 1
    },
    {
      "id": "81da8e9a-d788-4eed-8921-793fd151e235",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        208
      ],
      "parameters": {
        "color": 3,
        "width": 230,
        "height": 208,
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "a5896683-74a7-4f3b-98dc-90bb114e030e",
      "name": "Schedule me here",
      "type": "n8n-nodes-base.scheduleTrigger",
      "notes": "Double-click to set!",
      "position": [
        480,
        240
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "notesInFlow": true,
      "typeVersion": 1.2
    },
    {
      "id": "d5a71108-ff33-4214-9662-510d9d30adfc",
      "name": "Results",
      "type": "n8n-nodes-base.set",
      "position": [
        944,
        240
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "fa43a283-e401-46e3-bf3c-9cc7fb7dae2f",
              "name": "quote",
              "type": "string",
              "value": "={{ $json.q }}"
            },
            {
              "id": "c16964d2-b6a6-40d4-a4d2-bef0760d0d26",
              "name": "author",
              "type": "string",
              "value": "={{ $json.a }}"
            }
          ]
        }
      },
      "notesInFlow": true,
      "typeVersion": 3.4
    },
    {
      "id": "040cbede-4df2-4fed-98c2-b94e21a46e1b",
      "name": "Get quote",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        704,
        240
      ],
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "id": "41b56311-e6b1-4b57-9178-47ed568550d3",
      "name": "Connect your Gmail",
      "type": "n8n-nodes-base.gmail",
      "notes": "Double-click here to connect!",
      "position": [
        1168,
        240
      ],
      "webhookId": "83a06a0c-4824-44ea-b593-18917e1b3fe4",
      "parameters": {
        "message": "=Hey,\n\nHere's a quote by {{ $json.author }}:\n\n\"{{ $json.quote }}\"",
        "options": {},
        "subject": "Daily quote",
        "emailType": "text"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "FT2zcrrNIhoncLfR",
          "name": "Gmail account 2"
        }
      },
      "notesInFlow": true,
      "typeVersion": 2.1
    },
    {
      "id": "f420d59b-e48e-4fcc-8d0b-46c3e08691f8",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        208
      ],
      "parameters": {
        "color": 3,
        "width": 198,
        "height": 208,
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "bf3a33cd-12b0-49a4-b080-ffc0123b1d86",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -416
      ],
      "parameters": {
        "color": 7,
        "width": 1088,
        "height": 208,
        "content": "## 🚀🚀 Start here 🚀🚀\n\n1. Click “Execute workflow” to run it\n\n2. This gets a random quote from the internet\n\n3. Double-click the last node to check what\nquote you got\n"
      },
      "typeVersion": 1
    },
    {
      "id": "922cbf37-d1ec-47dd-8da5-00a793acb865",
      "name": "1. Click 'Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "notes": "\n",
      "position": [
        464,
        -384
      ],
      "parameters": {},
      "notesInFlow": false,
      "typeVersion": 1
    },
    {
      "id": "e0cb3ca0-3b1a-46dd-80f1-820c42253eb1",
      "name": "2. Get inspirational quote from the internet",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        688,
        -384
      ],
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "id": "834bdbc9-b4fd-4148-ab17-ccd03f0df78f",
      "name": "3. See the resutls",
      "type": "n8n-nodes-base.set",
      "notes": "Double-click to open!",
      "position": [
        928,
        -384
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "fa43a283-e401-46e3-bf3c-9cc7fb7dae2f",
              "name": "quote",
              "type": "string",
              "value": "={{ $json.q }}"
            },
            {
              "id": "c16964d2-b6a6-40d4-a4d2-bef0760d0d26",
              "name": "author",
              "type": "string",
              "value": "={{ $json.a }}"
            }
          ]
        }
      },
      "notesInFlow": true,
      "typeVersion": 3.4
    },
    {
      "id": "7103e58c-f0d5-47b2-847d-e1ad4fa2babf",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -416
      ],
      "parameters": {
        "color": 3,
        "width": 198,
        "height": 208,
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "cbf21625-4402-4dc7-aa54-f6f066eec4a1",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        816
      ],
      "parameters": {
        "color": 7,
        "width": 1520,
        "height": 224,
        "content": "## ❓ How about a joke...\n\n1. Execute this workflow\n\n2. Check out the new \"Programming Joke\"\n\n3. Try mapping the new results and add them to\nyour email"
      },
      "typeVersion": 1
    },
    {
      "id": "889994c7-9c3c-4621-ac6b-25e9cc421b3e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        816
      ],
      "parameters": {
        "color": 3,
        "width": 198,
        "height": 224,
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "462852ad-c8f2-41df-84a7-81312dd164db",
      "name": "Quote",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        736,
        864
      ],
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "id": "20922230-6081-40c8-874c-f1233197981f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        496,
        864
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 6,
              "monthsInterval": 12
            }
          ]
        }
      },
      "notesInFlow": true,
      "typeVersion": 1.2
    },
    {
      "id": "fd47d950-393a-4868-bc49-15f9c980b92c",
      "name": "Map the fields",
      "type": "n8n-nodes-base.set",
      "notes": "Double-click to set!",
      "position": [
        1184,
        864
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "57322775-a00d-47f5-9424-3188ca2e46e6",
              "name": "author",
              "type": "string",
              "value": "="
            },
            {
              "id": "1b141196-bc29-49d9-9e10-78bf17975cee",
              "name": "quote",
              "type": "string",
              "value": "="
            },
            {
              "id": "b33e5122-1419-4bae-bfd5-0d5fb22a95f2",
              "name": "joke",
              "type": "string",
              "value": "="
            }
          ]
        }
      },
      "notesInFlow": true,
      "typeVersion": 3.4
    },
    {
      "id": "f3a0621c-f38b-44e2-a050-a41b69a6013a",
      "name": "Programming joke",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Check out after running!",
      "position": [
        976,
        864
      ],
      "parameters": {
        "url": "=https://v2.jokeapi.dev/joke/Programming?blacklistFlags=nsfw,religious,political,racist,sexist,explicit&type=single",
        "options": {}
      },
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "id": "d13e491a-1b47-4854-a76d-5ee7fe56fc45",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -528
      ],
      "parameters": {
        "color": 7,
        "width": 704,
        "height": 400,
        "content": "@[youtube](dKTcAfBfFLU)"
      },
      "typeVersion": 1
    },
    {
      "id": "79aeb8cc-51d9-40e5-a2e2-a51fbce14f1f",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        720
      ],
      "parameters": {
        "color": 7,
        "width": 720,
        "height": 400,
        "content": "@[youtube](LdE0KnhRtsY)"
      },
      "typeVersion": 1
    },
    {
      "id": "4d2a9d87-5487-4184-ad71-bb17b44df8c4",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        96
      ],
      "parameters": {
        "color": 7,
        "width": 720,
        "height": 400,
        "content": "@[youtube](5CBUXMO_L2Y)"
      },
      "typeVersion": 1
    },
    {
      "id": "9b757817-0814-4c6a-9eaa-05be267551c5",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        -624
      ],
      "parameters": {
        "color": 5,
        "width": 1936,
        "height": 544,
        "content": "# Step 1"
      },
      "typeVersion": 1
    },
    {
      "id": "e14ed37d-df25-45dc-82dd-e5c5a1c30bd4",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        -16
      ],
      "parameters": {
        "color": 5,
        "width": 2144,
        "height": 560,
        "content": "# Step 2"
      },
      "typeVersion": 1
    },
    {
      "id": "c13b3f0b-dfa5-46f0-addf-afad6a258ca0",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        608
      ],
      "parameters": {
        "color": 5,
        "width": 2400,
        "height": 560,
        "content": "# Step 3"
      },
      "typeVersion": 1
    },
    {
      "id": "f0c94de0-f3ab-4be2-b257-6fa50f400482",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        816
      ],
      "parameters": {
        "color": 3,
        "width": 214,
        "height": 224,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Click + to add Gmail"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6fe1646-5006-48fb-a644-568dd3529dbb",
  "connections": {
    "Quote": {
      "main": [
        [
          {
            "node": "Programming joke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results": {
      "main": [
        [
          {
            "node": "Connect your Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get quote": {
      "main": [
        [
          {
            "node": "Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map the fields": {
      "main": [
        []
      ]
    },
    "Programming joke": {
      "main": [
        [
          {
            "node": "Map the fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule me here": {
      "main": [
        [
          {
            "node": "Get quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Click 'Execute workflow’": {
      "main": [
        [
          {
            "node": "2. Get inspirational quote from the internet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Get inspirational quote from the internet": {
      "main": [
        [
          {
            "node": "3. See the resutls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}