n8n-workflow-all-templates/00/00/99/9924_Summarize___Extract_Glassdoor_Company_Info_with_Google_Gemini_and_Decode.json
{
  "id": "in11m3CofWPWeo7h",
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Summarize & Extract Glassdoor Company Info with Google Gemini and Decode",
    "wechat": "youandme10086",
    "id": 9924,
    "update_time": "2025-11-10"
  },
  "name": "Summarize & Extract Glassdoor Company Info with Google Gemini and Decode",
  "tags": [
    {
      "id": "Kujft2FOjmOVQAmJ",
      "name": "Engineering",
      "createdAt": "2025-04-09T01:31:00.558Z",
      "updatedAt": "2025-04-09T01:31:00.558Z"
    },
    {
      "id": "ddPkw7Hg5dZhQu2w",
      "name": "AI",
      "createdAt": "2025-04-13T05:38:08.053Z",
      "updatedAt": "2025-04-13T05:38:08.053Z"
    },
    {
      "id": "rKOa98eAi3IETrLu",
      "name": "HR",
      "createdAt": "2025-04-13T04:59:30.580Z",
      "updatedAt": "2025-04-13T04:59:30.580Z"
    }
  ],
  "nodes": [
    {
      "id": "e17438ec-00e7-4f0a-b57b-9597ffbae1ad",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -560,
        128
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "ad1c0eee-3b2d-4e15-8d4c-7756adea4fc2",
      "name": "Set the Input Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -336,
        128
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "0bd5c0c2-dc62-466a-941c-98fdb0404d6c",
              "name": "company_url",
              "type": "string",
              "value": "https://www.glassdoor.co.in/Overview/Working-at-Decode-Technologies-EI_IE4772827.11,30.htm"
            },
            {
              "id": "31a57370-3210-4ece-b329-c10a0afc53af",
              "name": "geo",
              "type": "string",
              "value": "India"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "db9ecca5-7fcb-4c0d-b80b-f6675ade9d34",
      "name": "Decodo",
      "type": "@decodo/n8n-nodes-decodo.decodo",
      "position": [
        -112,
        128
      ],
      "parameters": {
        "geo": "={{ $('Set the Input Fields').item.json.geo }}",
        "url": "={{ $('Set the Input Fields').item.json.company_url }}"
      },
      "credentials": {
        "decodoApi": {
          "id": "7xLvINFuwxDiyBde",
          "name": "Decodo Credentials account"
        }
      },
      "retryOnFail": true,
      "typeVersion": 1
    },
    {
      "id": "a80fabf3-d506-4896-8efa-71abc8f8fdd3",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        352,
        48
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"text\": {\n        \"type\": \"string\",\n        \"description\": \"Full summarized text including company overview, ratings, and insights\"\n      },\n      \"overview\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"companyName\": { \"type\": \"string\" },\n          \"rating\": { \"type\": \"number\" },\n          \"location\": { \"type\": \"string\" },\n          \"size\": { \"type\": \"string\" },\n          \"type\": { \"type\": \"string\" },\n          \"website\": { \"type\": \"string\" }\n        }\n      },\n      \"keyTakeaways\": {\n        \"type\": \"array\",\n        \"items\": { \"type\": \"string\" }\n      },\n      \"ratingsBreakdown\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"cultureAndValues\": { \"type\": \"number\" },\n          \"diversityAndInclusion\": { \"type\": \"number\" },\n          \"workLifeBalance\": { \"type\": \"number\" },\n          \"seniorManagement\": { \"type\": \"number\" },\n          \"compensationAndBenefits\": { \"type\": \"number\" },\n          \"careerOpportunities\": { \"type\": \"number\" }\n        }\n      },\n      \"reviewSnippets\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"role\": { \"type\": \"string\" },\n            \"pros\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n            \"cons\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n          }\n        }\n      },\n      \"faq\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"question\": { \"type\": \"string\" },\n            \"answer\": { \"type\": \"string\" }\n          }\n        }\n      },\n      \"callToAction\": { \"type\": \"string\" }\n    },\n    \"required\": [\"text\"]\n  }\n}\n"
      },
      "typeVersion": 1.3
    },
    {
      "id": "97034fba-e1f5-43c4-8357-c5300033662c",
      "name": "Structured Data Extractor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        208,
        -176
      ],
      "parameters": {
        "text": "=Analyze and extract structured data\n\n{{ $json.data.results[0].content }}",
        "batching": {},
        "promptType": "define",
        "hasOutputParser": true
      },
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 1.7
    },
    {
      "id": "ca125524-bf97-44b2-a3d1-30cc4ab9d865",
      "name": "Summarizer",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        208,
        328
      ],
      "parameters": {
        "text": "=Summarize the following content  {{ $json.data.results[0].content }}",
        "options": {},
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"detailed_summary\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "typeVersion": 1.2
    },
    {
      "id": "95bdc9dd-c788-4650-a87c-5ebd79cfa07a",
      "name": "Google Gemini Chat Model for Summarization",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        280,
        552
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.0-flash-exp"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "YeO7dHZnuGBVQKVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "24837733-309c-4078-9197-36b4de71f330",
      "name": "Google Gemini Chat Model for Structured Data Extract",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        192,
        48
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.0-flash-exp"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "YeO7dHZnuGBVQKVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "2917a190-f43a-4d7b-9a6a-36222e6f39ad",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        672,
        96
      ],
      "parameters": {},
      "typeVersion": 3.2
    },
    {
      "id": "574fbde4-7dc1-4996-b7a7-50138b589b68",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        1344,
        96
      ],
      "parameters": {
        "options": {},
        "fileName": "=C:\\\\{{ $json.overview.companyName }}.json",
        "operation": "write",
        "dataPropertyName": "=data"
      },
      "typeVersion": 1
    },
    {
      "id": "9140952a-0ba9-4d1e-b89a-5bd2b0a4dc16",
      "name": "Format the Response",
      "type": "n8n-nodes-base.code",
      "position": [
        896,
        96
      ],
      "parameters": {
        "jsCode": "\nreturn $input.first().json.output[0];"
      },
      "typeVersion": 2
    },
    {
      "id": "fa3f7f87-d789-4404-a0ed-684035ee3931",
      "name": "Create a Binary Response",
      "type": "n8n-nodes-base.function",
      "position": [
        1120,
        96
      ],
      "parameters": {
        "functionCode": "\n\nitems[0].binary = {\n  data: {\n    data: new Buffer(JSON.stringify(items[0].json, null, 2)).toString('base64')\n  }\n};\nreturn items;"
      },
      "typeVersion": 1
    },
    {
      "id": "4e19fb55-a7b8-4ecf-b35c-857eb02f4cfc",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -128
      ],
      "parameters": {
        "color": 7,
        "width": 384,
        "height": 208,
        "content": "![Logo](https://cdn.brandfetch.io/idIeG9_eXK/w/100/h/100/theme/dark/icon.jpeg?c=1bxid64Mup7aczewSAYMX&t=1756483136894)\n\nGoogle Gemini LLM for the Structured Data Extraction and Summarization Purposes"
      },
      "typeVersion": 1
    },
    {
      "id": "96511f0b-a610-4b2d-b73e-9f67f3ee121d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -240
      ],
      "parameters": {
        "color": 6,
        "width": 592,
        "height": 928,
        "content": "## Google Gemini LLM Data Extract"
      },
      "typeVersion": 1
    },
    {
      "id": "312bdbbb-6073-4891-bac4-d13e02390853",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        304
      ],
      "parameters": {
        "width": 592,
        "height": 624,
        "content": "### **Purpose**\n\nAutomate **Glassdoor company intelligence extraction** — transforming raw company data from Glassdoor into **structured insights and summaries** using **Decodo API** + **Google Gemini**.\n\nGenerates a clean JSON report of the provided Glassdoor Company URL.\n\n\n### **Flow Summary**\n\n1. **Trigger** – Manually start workflow (`Execute Workflow`).\n2. **Set Input** – Enter `company_url` + `geo`.\n3. **Extract Raw Data** – Use **Decodo API** to pull Glassdoor overview, ratings, reviews, and FAQs.\n4. **Structure Data (Gemini + Parser)** – Gemini organizes data into:\n\n   * Company details (name, size, type, website)\n   * Ratings + reviews (pros/cons, job roles)\n   * FAQs + key takeaways\n5. **Summarize Insights (Gemini)** – AI-driven summary on:\n\n   * Company reputation & culture\n   * Employee sentiment trends\n   * Strengths, weaknesses, hiring notes\n6. **Merge & Format** – Combine structured + summarized data.\n7. **Export JSON** – Save to `C:\\{{CompanyName}}.json`.\n8. **Encode File (Base64)** – Prepare for API uploads or report downloads.\n\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4cdc168b-a6bc-4012-b49f-b61531f33e36",
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Format the Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decodo": {
      "main": [
        [
          {
            "node": "Structured Data Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarizer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format the Response": {
      "main": [
        [
          {
            "node": "Create a Binary Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the Input Fields": {
      "main": [
        [
          {
            "node": "Decodo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Binary Response": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Structured Data Extractor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Data Extractor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set the Input Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model for Summarization": {
      "ai_languageModel": [
        [
          {
            "node": "Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model for Structured Data Extract": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Data Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}