n8n-workflow-all-templates/00/00/49/4927_Complete_Lesson_Automation_for_Modern_UK_Teachers.json
{
  "id": "iCyLAmwnvOo9R63Z",
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Complete Lesson Automation for Modern UK Teachers",
    "wechat": "youandme10086",
    "id": 4927,
    "update_time": "2025-11-10"
  },
  "name": "AILessonPlanGenerator_Teachers copy 2",
  "tags": [
    {
      "id": "7I3feudDVEQN2O0v",
      "name": "Modern Teaching",
      "createdAt": "2025-06-12T20:19:55.602Z",
      "updatedAt": "2025-06-12T20:19:55.602Z"
    }
  ],
  "nodes": [
    {
      "id": "e6ed16c1-2381-4567-81c6-2fc6fe0cf241",
      "name": "Teacher Input Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -1220,
        -80
      ],
      "webhookId": "modern-lesson-webhook-001",
      "parameters": {
        "options": {
          "path": "webhook/modern-lesson-generator"
        },
        "formTitle": "Modern Teacher AI Assistant",
        "formFields": {
          "values": [
            {
              "fieldType": "dropdown",
              "fieldLabel": "Subject",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Mathematics"
                  },
                  {
                    "option": "Science"
                  },
                  {
                    "option": "English Language Arts"
                  },
                  {
                    "option": "History"
                  },
                  {
                    "option": "Geography"
                  },
                  {
                    "option": "Modern Foreign Languages"
                  }
                ]
              }
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Year Group",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Year 7"
                  },
                  {
                    "option": "Year 8"
                  },
                  {
                    "option": "Year 9"
                  },
                  {
                    "option": "Year 10"
                  },
                  {
                    "option": "Year 11"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Topic/Chapter",
              "placeholder": "e.g., Linear Equations, Photosynthesis, Romeo and Juliet Act 1"
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Curriculum Standard",
              "fieldOptions": {
                "values": [
                  {
                    "option": "UK National Curriculum"
                  },
                  {
                    "option": "AQA GCSE"
                  },
                  {
                    "option": "Edexcel GCSE"
                  },
                  {
                    "option": "OCR GCSE"
                  }
                ]
              }
            },
            {
              "fieldType": "number",
              "fieldLabel": "Lesson Duration (minutes)",
              "placeholder": "60"
            },
            {
              "fieldType": "number",
              "fieldLabel": "Class Size",
              "placeholder": "28"
            },
            {
              "fieldLabel": "Differentiation Needs",
              "placeholder": "e.g., 3 SEN students, 5 EAL learners, 2 gifted and talented"
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Assessment Focus",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Formative Assessment"
                  },
                  {
                    "option": "Summative Assessment"
                  },
                  {
                    "option": "Both"
                  }
                ]
              }
            }
          ]
        },
        "formDescription": "Generate complete lesson resources without textbooks - including differentiated materials, assessments, and parent communication"
      },
      "typeVersion": 2.2
    },
    {
      "id": "71c38ac7-59c1-4e2a-bb60-ffe85b6afc1d",
      "name": "Content Creation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1000,
        -80
      ],
      "parameters": {
        "text": "Help me create educational content for provided details.",
        "options": {
          "systemMessage": "=You are a UK Educational Content Creation Agent specializing in comprehensive lesson planning for schools without textbooks.\n\nYour Role: Create complete, curriculum-aligned lesson packages that replace traditional textbook-based teaching.\n\nGenerate a comprehensive lesson package including:\n\n**LESSON STRUCTURE:**\n- Clear learning objectives aligned with {{ $json['Curriculum Standard'] }}\n- Detailed lesson plan for {{ $json['Lesson Duration (minutes)'] }} minutes\n- Starter activity (10 minutes)\n- Main teaching phases with multiple activities (40+ minutes)\n- Plenary and assessment (10 minutes)\n\n**DIFFERENTIATED MATERIALS:**\nFor class profile: {{ $json['Differentiation Needs'] }}\n- Core materials for mainstream students\n- Simplified worksheets with visual supports for SEN students\n- EAL-friendly resources with key vocabulary\n- Challenge activities and extension tasks for gifted students\n- Alternative formats (visual, kinesthetic, auditory)\n\n**ASSESSMENT PACKAGE:**\nFocus: {{ $json['Assessment Focus'] }}\n- Quick formative checks (mini-whiteboards, exit tickets)\n- Peer assessment activities with success criteria\n- Self-evaluation checklists\n- Summative assessment with mark scheme\n- Progress tracking sheets\n\n**RESOURCES WITHOUT TEXTBOOKS:**\n- Key information sheets (replacing textbook pages)\n- Interactive worksheets and activities\n- Real-world examples and case studies\n- Digital tool recommendations\n- Printable reference materials\n\n**PARENT SUPPORT MATERIALS:**\n- Home learning explanation sheet\n- Key concepts summary for parents\n- Extension activities for home\n- Vocabulary list with definitions\n\n**ADMINISTRATIVE EFFICIENCY:**\n- Marking codes and feedback templates\n- Behavior management strategies\n- Time-saving tips for implementation\n- Links to additional resources\n\nContext:\nSubject: {{ $json.Subject }}\nYear Group: {{ $json['Year Group'] }}\nTopic: {{ $json['Topic/Chapter'] }}\nClass Size: {{ $json['Class Size'] }}\n\nNo intros or outros.\nEnsure all content is practical, immediately usable, and addresses the modern challenge of teaching without textbooks."
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "53898872-a5fc-495e-bc59-c8565c3a0f6d",
      "name": "Assessment & Marking Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -624,
        -80
      ],
      "parameters": {
        "text": "You are an Assessment & Feedback Automation Specialist for UK teachers.",
        "options": {
          "systemMessage": "=You are an Assessment & Feedback Automation Specialist for UK teachers. Your mission is to create time-saving assessment tools that reduce marking workload.\n\n**ASSESSMENT PACKAGE CREATION:**\n\n**Quick Formative Assessments:**\n- 5 diagnostic questions with multiple choice auto-marking\n- Think-pair-share prompts with peer assessment rubrics\n- Exit ticket templates with self-marking answer keys\n- Mini-whiteboard question sets\n- Traffic light self-assessment cards\n\n**Efficient Summative Assessment:**\n- Topic test with detailed mark scheme\n- Practical task with step-by-step assessment criteria\n- Extended response question with exemplar answers\n- Grade boundaries and conversion charts\n\n**MARKING EFFICIENCY TOOLS:**\n- Whole-class feedback sheet templates\n- Common error identification codes\n- Quick feedback stamps/stickers system\n- Student self-correction checklists\n- Progress tracking spreadsheet templates\n\n**AUTOMATED FEEDBACK SYSTEMS:**\n- Response banks for common misconceptions\n- Differentiated feedback for ability levels\n- Next steps recommendations by learning objective\n- Parent communication templates\n- Intervention planning guides\n\n**TIME-SAVING STRATEGIES:**\n- Peer marking guides with answer sheets\n- Student-led assessment activities\n- Digital quiz templates for instant feedback\n- Voice feedback recording prompts\n- Batch marking techniques\n\nContext:\nSubject: {{ $('Teacher Input Form').item.json.Subject }}\nTopic: {{ $('Teacher Input Form').item.json['Topic/Chapter'] }}\nYear Group: {{ $('Teacher Input Form').item.json['Year Group'] }}\nAssessment Focus: {{ $('Teacher Input Form').item.json['Assessment Focus'] }}\nClass Profile: {{ $('Teacher Input Form').item.json['Differentiation Needs'] }}\n\nLesson Content:\n{{ $('Content Creation Agent').item.json.output }}\n\nNo intros or outros.\n\nCreate practical, immediately implementable assessment tools that save marking time while maintaining quality feedback."
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "48a92537-9a7e-4840-810a-f8920e739928",
      "name": "AI Integration Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -248,
        -80
      ],
      "parameters": {
        "text": "Assist in teacher productivity",
        "options": {
          "systemMessage": "=You are an AI Integration & Automation Specialist for UK teachers. Your role is to identify practical AI tools and automation workflows that reduce teacher workload.\n\n**TEACHER PRODUCTIVITY AUTOMATION:**\n\n**Content Creation Tools:**\n- AI worksheet generators (specific tool recommendations)\n- Automated quiz makers with curriculum alignment\n- Presentation slide generators\n- Differentiation material creators\n- Visual aid and infographic tools\n\n**Assessment Automation:**\n- Auto-grading quiz platforms (Google Forms, Kahoot, Quizizz)\n- Feedback generation tools\n- Progress tracking automation\n- Report writing assistants\n- Parent communication templates\n\n**Administrative Efficiency:**\n- Behavior log automation\n- Attendance tracking systems\n- Email template libraries\n- Calendar scheduling tools\n- Resource organization systems\n\n**STUDENT ENGAGEMENT AI:**\n\n**Interactive Learning Tools:**\n- AI tutoring assistants for {{ $('Teacher Input Form').item.json['Topic/Chapter'] }}\n- Adaptive practice platforms\n- Gamified learning apps\n- Virtual laboratory simulations\n- Interactive presentation tools\n\n**Personalized Learning:**\n- Adaptive content delivery systems\n- Individual learning path generators\n- Skill gap analysis tools\n- Personalized homework assignments\n- Progress monitoring dashboards\n\n**IMPLEMENTATION GUIDES:**\n\n**Step-by-Step Setup:**\n- Tool selection criteria\n- Account setup instructions\n- Integration with existing systems\n- Training requirements\n- Cost-benefit analysis\n\n**Workflow Automation:**\n- Daily routine automation\n- Weekly planning systems\n- Assessment cycles\n- Parent communication schedules\n- Professional development tracking\n\n**TIME-SAVING CALCULATIONS:**\n- Hours saved per week\n- Efficiency improvements\n- Quality enhancements\n- Student engagement metrics\n\nContext:\nSubject: {{ $('Teacher Input Form').item.json.Subject }}\nYear Group: {{ $('Teacher Input Form').item.json['Year Group'] }}\nTopic: {{ $('Teacher Input Form').item.json['Topic/Chapter'] }}\nClass Size: {{ $('Teacher Input Form').item.json['Class Size'] }}\n\nLesson Package:\n{{ $('Content Creation Agent').item.json.output }}\n\nAssessment Tools:\n{{ $('Assessment & Marking Agent').item.json.output }}\nNo intros or outros.\nProvide specific, actionable AI tool recommendations with implementation guidance that directly addresses current UK teacher workload challenges."
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "641e1019-f56c-46f6-8d69-b803ccbdfe32",
      "name": "Package Compiler",
      "type": "n8n-nodes-base.code",
      "position": [
        128,
        -80
      ],
      "parameters": {
        "jsCode": "// Compile comprehensive teacher resource package\nconst formData = $('Teacher Input Form').item.json;\nconst lessonContent = $('Content Creation Agent').item.json.output;\nconst assessmentTools = $('Assessment & Marking Agent').item.json.output;\nconst aiRecommendations = $('AI Integration Agent').item.json.output;\n\nconst timestamp = new Date().toISOString();\nconst packageId = `lesson_${formData.Subject.toLowerCase().replace(/\\s+/g, '_')}_${formData['Year Group'].replace(/\\s+/g, '_')}_${Date.now()}`;\n\n// Extract key metrics and recommendations\nfunction extractTimeSavings(text) {\n  const timeMatches = text.match(/(\\d+)\\s*(hours?|minutes?|mins?).*?saved?/gi) || [];\n  return timeMatches.slice(0, 5);\n}\n\nfunction extractToolRecommendations(text) {\n  const tools = [];\n  const commonTools = [\n    'Google Forms', 'Kahoot', 'Quizizz', 'Padlet', 'Mentimeter',\n    'Canva', 'PowerPoint', 'Prezi', 'Flipgrid', 'Seesaw',\n    'ClassDojo', 'Google Classroom', 'Microsoft Teams', 'Zoom',\n    'Grammarly', 'ChatGPT', 'Claude', 'Bard', 'QuillBot'\n  ];\n  \n  commonTools.forEach(tool => {\n    if (text.toLowerCase().includes(tool.toLowerCase())) {\n      tools.push(tool);\n    }\n  });\n  \n  return [...new Set(tools)];\n}\n\n// Compile the complete package\nconst teacherPackage = {\n  metadata: {\n    package_id: packageId,\n    created_at: timestamp,\n    subject: formData.Subject,\n    year_group: formData['Year Group'],\n    topic: formData['Topic/Chapter'],\n    curriculum_standard: formData['Curriculum Standard'],\n    lesson_duration: formData['Lesson Duration (minutes)'],\n    class_size: formData['Class Size'],\n    differentiation_profile: formData['Differentiation Needs'],\n    assessment_focus: formData['Assessment Focus'],\n    package_type: 'comprehensive_modern_lesson'\n  },\n  \n  lesson_package: {\n    content: lessonContent,\n    type: 'textbook_replacement',\n    curriculum_aligned: true,\n    differentiation_included: true,\n    parent_support_included: true\n  },\n  \n  assessment_tools: {\n    content: assessmentTools,\n    marking_efficiency_focus: true,\n    automated_feedback_included: true,\n    time_saving_strategies: extractTimeSavings(assessmentTools)\n  },\n  \n  ai_automation: {\n    content: aiRecommendations,\n    recommended_tools: extractToolRecommendations(aiRecommendations),\n    implementation_ready: true,\n    workload_reduction_focus: true\n  },\n  \n  implementation_guide: {\n    immediate_actions: [\n      '1. Review complete lesson package and select appropriate differentiated materials',\n      '2. Print/prepare physical resources and set up digital tools',\n      '3. Familiarize yourself with assessment rubrics and marking codes',\n      '4. Set up recommended AI tools and automation workflows',\n      '5. Prepare parent communication materials'\n    ],\n    \n    time_management: {\n      preparation_time: '20-30 minutes (vs 2-3 hours traditional)',\n      marking_time_saved: '50-70% reduction with provided tools',\n      resource_creation: 'Pre-made materials eliminate creation time',\n      differentiation: 'All ability levels catered for automatically'\n    }\n  }\n};\n\nreturn { json: teacherPackage };"
      },
      "typeVersion": 2
    },
    {
      "id": "2aa1892f-ec0a-4539-af83-ef146e2856b4",
      "name": "Format Document",
      "type": "n8n-nodes-base.code",
      "position": [
        348,
        -80
      ],
      "parameters": {
        "jsCode": "const packageData = $('Package Compiler').item.json;\n\n// Create comprehensive markdown document\nlet markdown = `# Modern Lesson Package: ${packageData.metadata.topic}\\n\\n`;\nmarkdown += `**Subject:** ${packageData.metadata.subject}\\n`;\nmarkdown += `**Year Group:** ${packageData.metadata.year_group}\\n`;\nmarkdown += `**Duration:** ${packageData.metadata.lesson_duration} minutes\\n`;\nmarkdown += `**Curriculum:** ${packageData.metadata.curriculum_standard}\\n\\n`;\n\nmarkdown += `## 📚 Complete Lesson Package\\n\\n`;\nmarkdown += packageData.lesson_package.content + '\\n\\n';\n\nmarkdown += `## 📊 Assessment & Marking Tools\\n\\n`;\nmarkdown += packageData.assessment_tools.content + '\\n\\n';\n\nmarkdown += `## 🤖 AI Integration Recommendations\\n\\n`;\nmarkdown += packageData.ai_automation.content + '\\n\\n';\n\nreturn [{ json: { markdown, package_id: packageData.metadata.package_id } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "dda48f8f-9079-4502-8c44-e901f1c09dde",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        568,
        -80
      ],
      "parameters": {
        "title": "=Modern Lesson: {{ $('Teacher Input Form').item.json.Subject }} - {{ $('Teacher Input Form').item.json['Topic/Chapter'] }} - {{ $('Teacher Input Form').item.json['Year Group'] }}",
        "folderId": "1XZhfUccXBWrmzc63Qh0giiy0atLclDGv",
        "authentication": "oAuth2"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "HkXEaWnb07UPafh4",
          "name": "Google Docs account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "43c0d073-d80d-4b9a-b572-26905b5534de",
      "name": "Add Content to Doc",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        788,
        -80
      ],
      "parameters": {
        "actionsUi": {
          "actionFields": [
            {
              "text": "={{ $('Format Document').item.json.markdown }}",
              "action": "insert"
            }
          ]
        },
        "operation": "update",
        "documentURL": "={{ $('Create Google Doc').item.json.id }}",
        "authentication": "oAuth2"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "HkXEaWnb07UPafh4",
          "name": "Google Docs account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "89061422-06ab-4844-8792-0946e9b22118",
      "name": "Schedule Prep Reminder",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        1008,
        20
      ],
      "parameters": {
        "end": "={{ DateTime.now().plus({days: 1}).set({hour: 8, minute: 30}).toISO() }}",
        "start": "={{ DateTime.now().plus({days: 1}).set({hour: 8, minute: 0}).toISO() }}",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "additionalFields": {
          "location": "Staffroom",
          "description": "=Review and prepare the AI-generated lesson package."
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "oBBgT8vkZewn9Znd",
          "name": "Google Calendar account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "cde4f9c1-5908-4c1f-b96f-432303c633bc",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1228,
        -180
      ],
      "webhookId": "9cce7514-59d4-4abf-8ecc-705e82ff0ac9",
      "parameters": {
        "sendTo": "XXX@gmail.com",
        "message": "=<h2>🎓 Your Modern Lesson Package is Ready!</h2>\\n<p><strong>Subject:</strong> {{ $('Teacher Input Form').item.json.Subject }}</p>\\n<p><strong>Document:</strong> <a href='{{ $json.webViewLink }}'>View Lesson Package</a></p>\\n<p>Time saved: 95% reduction in preparation time!</p>",
        "options": {},
        "subject": "=Your AI Lesson Package is Ready: {{ $('Teacher Input Form').item.json['Topic/Chapter'] }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "igrJbpDgv7Y6QNxA",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "2e768ee7-2c14-4165-bfd8-904fc97bdf21",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -912,
        140
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "6O9ruA8TUMzJAIRD",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "8522d400-0aaf-4c10-b66b-2cdab9d72ed3",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -536,
        140
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "6O9ruA8TUMzJAIRD",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "fef58dce-7690-430a-82ee-f646180e34ba",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -160,
        140
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "6O9ruA8TUMzJAIRD",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "95271c6e-d4ec-4082-9576-c2f5915bcb0a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1020,
        -320
      ],
      "parameters": {
        "width": 1060,
        "height": 740,
        "content": "## 1. AI Lesson Plan, Assignment and Integration Agent Trio\n\n### Each agent with specialised prompt to do research, build resources and suggest integration ideas."
      },
      "typeVersion": 1
    },
    {
      "id": "ba08f325-b54e-420b-bb61-cd45e1f500e8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        -300
      ],
      "parameters": {
        "color": 5,
        "width": 860,
        "height": 720,
        "content": "## 2. Compile \n### And create a document in Google Drive"
      },
      "typeVersion": 1
    },
    {
      "id": "d5ee98cc-f810-4cc2-a96e-e9be95fb5f0c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        -300
      ],
      "parameters": {
        "color": 4,
        "width": 580,
        "height": 720,
        "content": "## 3. Share\n### Create Calendar event for review\n### Email the Google Drive Link"
      },
      "typeVersion": 1
    },
    {
      "id": "d2ffe355-de47-4a96-a2aa-744485c9a25e",
      "name": "Fetch File From Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1008,
        -180
      ],
      "parameters": {
        "filter": {},
        "options": {
          "fields": [
            "webViewLink",
            "exportLinks"
          ]
        },
        "resource": "fileFolder",
        "queryString": "={{ $('Create Google Doc').item.json.name }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "a5ILqHcHS6QthVoc",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21abc644-201a-48bc-8ff5-1a29775e2bdd",
  "connections": {
    "Format Document": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Package Compiler": {
      "main": [
        [
          {
            "node": "Format Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Add Content to Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Creation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Content to Doc": {
      "main": [
        [
          {
            "node": "Fetch File From Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Schedule Prep Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Assessment & Marking Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Integration Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Teacher Input Form": {
      "main": [
        [
          {
            "node": "Content Creation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Integration Agent": {
      "main": [
        [
          {
            "node": "Package Compiler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch File From Drive": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Creation Agent": {
      "main": [
        [
          {
            "node": "Assessment & Marking Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment & Marking Agent": {
      "main": [
        [
          {
            "node": "AI Integration Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}