n8n-workflow-all-templates/00/00/78/7863_Automated_PDF_Form_Filling_for_W-9_and_More_with_PDF.co.json
{
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Automated PDF Form Filling for W-9 and More with PDF.co",
    "wechat": "youandme10086",
    "id": 7863,
    "update_time": "2025-11-10"
  },
  "nodes": [
    {
      "id": "ab1b7d2d-7eac-45eb-9e0a-36f14c56df14",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -704,
        3520
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "80a9bda5-1301-45b3-b58a-0245035500d3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1376,
        2864
      ],
      "parameters": {
        "width": 400,
        "height": 1056,
        "content": "\n## ⚙️ Setup Instructions\n\n### 1️⃣ Prepare Your Data\n- Add a **Set** node in n8n with fields such as:\n  - `Name`\n  - `Business`\n  - `Address`\n  - `CityState`  \n- These fields will map directly to form fields in the PDF.\n\n---\n\n### 2️⃣ Connect PDF.co\n1. Create a free account at [PDF.co](https://pdf.co/)  \n2. Copy your **API Key** from the dashboard  \n3. In **n8n → Credentials → New → PDF.co API**  \n   - Paste your API Key → **Save**  \n4. In the **PDF.co node**, select your credential and use the **Fill a PDF Form** operation  \n\n\n\n## 📬 Contact\nNeed help customizing this for contracts, invoices, or HR forms?  \n\n- 📧 **robert@ynteractive.com**  \n- 🔗 **[Robert Breen](https://www.linkedin.com/in/robert-breen-29429625/)**  \n- 🌐 **[ynteractive.com](https://ynteractive.com)**\n"
      },
      "typeVersion": 1
    },
    {
      "id": "32f206af-66d5-48df-ac6a-0b590afa6864",
      "name": "Sticky Note56",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        2864
      ],
      "parameters": {
        "color": 7,
        "width": 1360,
        "height": 1056,
        "content": "# 📝 Auto-Fill PDF Forms (W-9 Example)\n\nThis workflow demonstrates how to take structured data (e.g., Name, Business, Address) and automatically fill a PDF form (IRS W-9) using **PDF.co** inside **n8n**.  \nIt can be adapted for contracts, invoices, or any standardized PDF forms.\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "27694236-37b3-49ee-9aa0-222e2cd92558",
      "name": "W9 Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -464,
        3520
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "42962861-eb1b-491f-ac74-c35b240dd5e6",
              "name": "Name",
              "type": "string",
              "value": "Jim"
            },
            {
              "id": "ca52307b-b7b0-41d5-9ac2-0048fe73f65f",
              "name": "Business",
              "type": "string",
              "value": "Bobs Appliances"
            },
            {
              "id": "0bf4b185-eb2e-4deb-ab81-23665d0f80a6",
              "name": "Address",
              "type": "string",
              "value": "general ave"
            },
            {
              "id": "f50ab353-57fc-4d30-babd-c3defa4f38a5",
              "name": "CityState",
              "type": "string",
              "value": "Atlanta GA"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "9f603647-99ca-46be-974a-61b3b477c325",
      "name": "Fill in PDF Form",
      "type": "n8n-nodes-pdfco.PDFco Api",
      "position": [
        -32,
        3456
      ],
      "parameters": {
        "url": "https://www.irs.gov/pub/irs-pdf/fw9.pdf",
        "fields": {
          "metadataValues": [
            {
              "text": "={{ $json.Name }}",
              "fieldName": "topmostSubform[0].Page1[0].f1_01[0]"
            },
            {
              "text": "={{ $json.Business }}",
              "fieldName": "topmostSubform[0].Page1[0].f1_02[0]"
            },
            {
              "text": "={{ $json.Address }}",
              "fieldName": "topmostSubform[0].Page1[0].Address_ReadOrder[0].f1_07[0]"
            },
            {
              "text": "={{ $json.CityState }}",
              "fieldName": "topmostSubform[0].Page1[0].Address_ReadOrder[0].f1_08[0]"
            }
          ]
        },
        "operation": "Fill a PDF Form",
        "advancedOptions": {}
      },
      "credentials": {
        "pdfcoApi": {
          "id": "wGorcCULfsY1va25",
          "name": "PDF.co account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "09f32826-5dc4-4d43-b2a3-c6f28e5e3610",
      "name": "Sticky Note63",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        3152
      ],
      "parameters": {
        "color": 3,
        "width": 224,
        "height": 464,
        "content": "### 2️⃣ Connect PDF.co\n1. Create a free account at [PDF.co](https://pdf.co/)  \n2. Copy your **API Key** from the dashboard  \n3. In **n8n → Credentials → New → PDF.co API**  \n   - Paste your API Key → **Save**  \n4. In the **PDF.co node**, select your credential and use the **Fill a PDF Form** operation  "
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "W9 Data": {
      "main": [
        [
          {
            "node": "Fill in PDF Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "W9 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}