n8n-workflow-all-templates/00/00/95/9529_Outlook_Inbox_Tamer__GPT-4.1_Powered_Categorization__Auto_Replies___Team_Alerts.json
{
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Outlook Inbox Tamer: GPT-4.1 Powered Categorization, Auto Replies & Team Alerts",
    "wechat": "youandme10086",
    "id": 9529,
    "update_time": "2025-11-10"
  },
  "nodes": [
    {
      "id": "484cfe93-bc7f-4aef-92ed-13275520e410",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        592,
        -192
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "05255861-8c56-414e-b049-cf9461573bf3",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        816,
        -192
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1833398336,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lz3yPqAfKfCvFjfkWKHj9d_3hyscgF6MdCSQMLAKE58/edit#gid=1833398336",
          "cachedResultName": "Demo_Emails"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1Lz3yPqAfKfCvFjfkWKHj9d_3hyscgF6MdCSQMLAKE58",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lz3yPqAfKfCvFjfkWKHj9d_3hyscgF6MdCSQMLAKE58/edit?usp=drivesdk",
          "cachedResultName": "FTAIM.com Outlook Inbox Demo"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9PnqOaeFC0WjNrV",
          "name": "GSheets Sandy4v"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "ad0f26e5-1e80-4bfc-8618-75193f20cfd5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -432
      ],
      "parameters": {
        "color": 5,
        "width": 976,
        "height": 416,
        "content": "# RUN this first\n## Send Emails automatically\nto test the Email classifier\n1. Getting the rows from Google Sheets\n2. We will send emails to outlook emailbox\n4. make a copy of the Gsheet -https://docs.google.com/spreadsheets/d/1Lz3yPqAfKfCvFjfkWKHj9d_3hyscgF6MdCSQMLAKE58/edit?usp=sharing"
      },
      "typeVersion": 1
    },
    {
      "id": "03007af0-3d99-4bf1-ba61-0e6dbcbc2ed7",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1040,
        -192
      ],
      "webhookId": "5a662d85-c61d-4d64-816f-7944232ea50b",
      "parameters": {
        "sendTo": "sandy4v@hotmail.com",
        "message": "={{ $json.Body }}",
        "options": {},
        "subject": "={{ $json.Subject }}",
        "emailType": "text"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "n8RAeEd1VIzhq4ZF",
          "name": "Gmail Sandy4v"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "6a87ced3-7db5-45ec-a8fe-28e4d5410e17",
      "name": "Microsoft Outlook Trigger",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "position": [
        608,
        608
      ],
      "parameters": {
        "output": "raw",
        "filters": {},
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "U3HG8CetQmKG2YMg",
          "name": "sandy4v@hotmail.com"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "d68f2907-5ceb-4927-9256-04c25c309636",
      "name": "Email_Classifier_Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1216,
        608
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "=incoming email \nEmail_Subject: {{ $json.subject }}\n  Email_Body: {{ $json.body.content }}\n\nEntire email is \n{{ JSON.stringify($json) }}"
            },
            {
              "role": "system",
              "content": "=You are an intelligent Email Classifier Agent.\n\nClassify the provided email into one of these categories:\n\n- High_Priority: Emails requiring immediate attention or action from key stakeholders, clients, or decision-makers. Typically time-sensitive with requests, deadlines, or escalated issues. Keywords: urgent, ASAP, immediate, deadline, action required, high priority.\n\n- Customer_Support: Emails related to ongoing communication with current clients or customers, including service requests, feedback, support tickets, and inquiries. Keywords: request, inquiry, support, question, follow-up, feedback.\n\n- Promotions: Emails about marketing campaigns, promotional offers, newsletters, or business updates from partners. Keywords: newsletter, promotion, offer, sale, campaign, marketing, launch.\n\n- Finance/Billing: Emails dealing with financial matters such as invoices, billing statements, payment reminders, or expense reports. Keywords: invoice, payment, billing, receipt, financial, expense, account.\n\ncreate a short desc on why you classified it in one of the above categories\nOnly output a JSON object with the exact fields and classification.\n"
            },
            {
              "role": "assistant",
              "content": "=you need to clean up the html tags and any other data coming in the email\n\njust output clean data in JSON format as follows\n\n{\n  \"id\": \"abc123\",\n  \"createdDateTime\": \"2025-09-09T12:00:00Z\",\n  \"lastModifiedDateTime\": \"2025-09-09T12:00:00Z\",\n  \"receivedDateTime\": \"2025-09-09T11:59:00Z\",\n  \"hasAttachments\": false,\n  \"subject\": \"subject\",\n  \"isRead\": false,\n  \"body\": \"Entire body cleaned up\",\n  \"sender\": \"billing@vendor.com\",\n  \"from\": \"billing@vendor.com\",\n  \"toRecipients\": \"me@company.com\",\n  \"classification\": \"Finance/Billing\",\n  \"Reason\":\"The user is in Panic mode and needs urgent attention\"\n}"
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "DZ72G0j4j5l1tQc8",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "13ba46a8-c430-4aa3-bc3c-746b5a68b1c1",
      "name": "Create_High_Priority_Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2320,
        320
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=You are an executive assistant. Your job is to respond to incoming high priority inquiries as accurately as you can.\n\nHere is the email you are responding to:  \nSubject:{{ $('Microsoft Outlook Trigger').item.json.subject }}\nBody:{{ $('Microsoft Outlook Trigger').item.json.body.content }}\n\nPlease output the following parameters: \nSubject\nMessage\nText- This is a text message that will be sent to the respective team to notify there is an urgent item that needs action and provide a brief summary"
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "DZ72G0j4j5l1tQc8",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "36aee599-c322-460a-a1a7-835ae32bf9aa",
      "name": "Create a draft",
      "type": "n8n-nodes-base.microsoftOutlook",
      "position": [
        2832,
        320
      ],
      "webhookId": "e4464bf4-e780-4aff-aa62-eee1756a5b1d",
      "parameters": {
        "subject": "={{ $json.message.content.Subject }}",
        "resource": "draft",
        "bodyContent": "={{ $json.message.content.Message }}",
        "additionalFields": {}
      },
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "U3HG8CetQmKG2YMg",
          "name": "sandy4v@hotmail.com"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "9e57a1fe-2649-46d8-9f73-612d359e7e12",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3056,
        320
      ],
      "webhookId": "ca17b459-f607-47fc-bb8a-459ac1b35674",
      "parameters": {
        "text": "={{ $('Create_High_Priority_Response').item.json.message.content.Text }}",
        "chatId": "<Your Telegram Chat ID >",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "vIO1Gcxgu1HSHWwB",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "d2e43f52-4ce0-4627-bc3f-baeaba48197b",
      "name": "Move_To_Customer_Support",
      "type": "n8n-nodes-base.microsoftOutlook",
      "position": [
        2096,
        512
      ],
      "webhookId": "a1089fb8-bde2-4878-a1be-1f7c03612c69",
      "parameters": {
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "AQMkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKAC4AAAPi3LhRrpx1QJatnpfUr7fjAQDpUeNl0aqPQIjC0k8rTlgxAAinwvCQAAAA",
          "cachedResultUrl": "https://outlook.office365.com/mail/AQMkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKAC4AAAPi3LhRrpx1QJatnpfUr7fjAQDpUeNl0aqPQIjC0k8rTlgxAAinwvCQAAAA",
          "cachedResultName": "02 Customer Support"
        },
        "messageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.message.content.id }}"
        },
        "operation": "move"
      },
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ao54pm4WkENTniL4",
          "name": "MS Outlook Sandy4v@hotmail.com"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "d8a492d5-7f59-477c-ba76-4b8b86a13dab",
      "name": "Creating Support Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2320,
        512
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=You are a customer service representative. Your job is to respond to incoming customer support inquiries as accurately as you can, and if it is an inquiry you cannot handle, please refer the user to the following email: customersupport@abccorp.com\n\nHere is the email you are responding to:  \nSubject:{{ $('Email_Classifier_Agent').item.json.message.content.subject }}\nBody:{{ $('Email_Classifier_Agent').item.json.message.content.body }}\n\nPlease output the following parameters: \nSubject\nMessage\nText- This is a short text to notify the Support_Team with a summary"
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "DZ72G0j4j5l1tQc8",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.5
    },
    {
      "id": "52a34302-9147-471d-8e17-0d181fff05c2",
      "name": "Notify_Support_Team",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3056,
        512
      ],
      "webhookId": "a4532062-2af2-4937-b3c1-85a1581b3ca8",
      "parameters": {
        "text": "={{ $('Creating Support Email').item.json.message.content.Text }}",
        "chatId": "<Your Telegram Chat ID >",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "vIO1Gcxgu1HSHWwB",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "5cad1c92-9413-4325-8402-06b3533dcde2",
      "name": "Routing",
      "type": "n8n-nodes-base.switch",
      "position": [
        1824,
        576
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "High_Priority",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3378e37f-882d-4094-9f87-5777a47e61c0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message.content.classification }}",
                    "rightValue": "High_Priority"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Customer_Support1",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ff58d591-6d52-4c93-b77a-ee97ffd2eff7",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message.content.classification }}",
                    "rightValue": "Customer_Support"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Category_Promotions",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "6c0ad66e-a476-447e-880c-7428a387cb0f",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message.content.classification }}",
                    "rightValue": "Promotions"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Finance/Billing",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0486f8d0-44b4-40db-bc7e-5f285be4988a",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message.content.classification }}",
                    "rightValue": "Finance/Billing"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "e9ed1052-c362-44d0-ad5e-72208546abb5",
      "name": "Move to High Priority",
      "type": "n8n-nodes-base.microsoftOutlook",
      "position": [
        2096,
        320
      ],
      "webhookId": "83a5a773-72b8-4ba8-96a3-0b02347eeabf",
      "parameters": {
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "AQMkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKAC4AAAPi3LhRrpx1QJatnpfUr7fjAQDpUeNl0aqPQIjC0k8rTlgxAAieI76jAAAA",
          "cachedResultUrl": "https://outlook.office365.com/mail/AQMkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKAC4AAAPi3LhRrpx1QJatnpfUr7fjAQDpUeNl0aqPQIjC0k8rTlgxAAieI76jAAAA",
          "cachedResultName": "01 High Priority"
        },
        "messageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.message.content.id }}"
        },
        "operation": "move"
      },
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "U3HG8CetQmKG2YMg",
          "name": "sandy4v@hotmail.com"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "ca851d32-51e5-42aa-a3d0-11d8cee9e5ac",
      "name": "Send Cust Support Response",
      "type": "n8n-nodes-base.microsoftOutlook",
      "position": [
        2832,
        512
      ],
      "webhookId": "11dabee7-10a5-4efa-be67-141222615de0",
      "parameters": {
        "subject": "={{ $json.message.content.Subject }}",
        "bodyContent": "={{ $json.message.content.Message }}",
        "toRecipients": "={{ $('Microsoft Outlook Trigger').item.json.sender.emailAddress.name }}",
        "additionalFields": {}
      },
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ao54pm4WkENTniL4",
          "name": "MS Outlook Sandy4v@hotmail.com"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "5f3fec9a-da87-4023-830a-f035140731e6",
      "name": "Summary & Rec",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2320,
        704
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "GPT-4.1"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "=You are in charge of promotions. Please evaluate the incoming promotional email and give us a quick summary and a recommendation.\n\nHere is the email you are responding to:  \nSubject:{{ $('Microsoft Outlook Trigger').item.json.subject }}\nBody:{{ $('Microsoft Outlook Trigger').item.json.body.content }}\n\nPlease ouput the following\nText- This is a short text to notify the Support_Team with a Summary and Recommendation"
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "DZ72G0j4j5l1tQc8",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.5
    },
    {
      "id": "8b5e9fb1-ccac-49eb-99a4-2387f75e185e",
      "name": "Move_To_Promotions",
      "type": "n8n-nodes-base.microsoftOutlook",
      "position": [
        2096,
        704
      ],
      "webhookId": "a1089fb8-bde2-4878-a1be-1f7c03612c69",
      "parameters": {
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "AQMkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKAC4AAAPi3LhRrpx1QJatnpfUr7fjAQDpUeNl0aqPQIjC0k8rTlgxAAieI76kAAAA",
          "cachedResultUrl": "https://outlook.office365.com/mail/AQMkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKAC4AAAPi3LhRrpx1QJatnpfUr7fjAQDpUeNl0aqPQIjC0k8rTlgxAAieI76kAAAA",
          "cachedResultName": "03 Promotions"
        },
        "messageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.message.content.id }}"
        },
        "operation": "move"
      },
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ao54pm4WkENTniL4",
          "name": "MS Outlook Sandy4v@hotmail.com"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "193b1547-e4c8-4cf0-9a1e-048dd3ce5b2f",
      "name": "Notify_Support_Team1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2832,
        704
      ],
      "webhookId": "a4532062-2af2-4937-b3c1-85a1581b3ca8",
      "parameters": {
        "text": "={{ $('Summary & Rec').item.json.message.content.Text }}",
        "chatId": "<Your Telegram Chat ID >",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "vIO1Gcxgu1HSHWwB",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "60b7deef-2b1d-4a9b-a2f6-53b2150e7985",
      "name": "Summary for Finance Dept",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2320,
        896
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "GPT-4.1"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "=You are a finance/billing assistant. Your job is to summarize incoming emails relating to finance and billing and summarize them in a short and concise way.\n\nHere is the email you are responding to:  \nSubject:{{ $('Microsoft Outlook Trigger').item.json.subject }}\nBody:{{ $('Email_Classifier_Agent').item.json.message.content.body }}\n\nPlease output the following parameters: \nSubject\nMessage\nText- This is a text message that will be sent to the Finance team to notify brief summary and recommendation"
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "DZ72G0j4j5l1tQc8",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.5
    },
    {
      "id": "dc73ceed-b872-4ff1-ab85-f0548f668605",
      "name": "Move_To_Finance/Billing",
      "type": "n8n-nodes-base.microsoftOutlook",
      "position": [
        2096,
        896
      ],
      "webhookId": "a1089fb8-bde2-4878-a1be-1f7c03612c69",
      "parameters": {
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "AQMkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKAC4AAAPi3LhRrpx1QJatnpfUr7fjAQDpUeNl0aqPQIjC0k8rTlgxAAieI76mAAAA",
          "cachedResultUrl": "https://outlook.office365.com/mail/AQMkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKAC4AAAPi3LhRrpx1QJatnpfUr7fjAQDpUeNl0aqPQIjC0k8rTlgxAAieI76mAAAA",
          "cachedResultName": "04 Finance and Billing"
        },
        "messageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.message.content.id }}"
        },
        "operation": "move"
      },
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ao54pm4WkENTniL4",
          "name": "MS Outlook Sandy4v@hotmail.com"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "9fcec220-6980-427a-915c-7818b9ab5198",
      "name": "Send to Finance DL",
      "type": "n8n-nodes-base.microsoftOutlook",
      "position": [
        2832,
        896
      ],
      "webhookId": "11dabee7-10a5-4efa-be67-141222615de0",
      "parameters": {
        "subject": "={{ $json.message.content.Subject }}",
        "bodyContent": "={{ $json.message.content.Message }}",
        "toRecipients": "=sandy4v1@gmail.com",
        "additionalFields": {}
      },
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ao54pm4WkENTniL4",
          "name": "MS Outlook Sandy4v@hotmail.com"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "408577b2-7191-4c99-833d-937c9cd91a5c",
      "name": "Notify_Finance_Head",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3056,
        896
      ],
      "webhookId": "a4532062-2af2-4937-b3c1-85a1581b3ca8",
      "parameters": {
        "text": "=Please take a look at Finance or a Billing Enquiry \nDetails - {{ $('Summary for Finance Dept').item.json.message.content.Text }}",
        "chatId": "<Your Telegram Chat ID >",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "vIO1Gcxgu1HSHWwB",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "1d566b97-89ba-4184-9811-13eb2ccf120e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        288
      ],
      "parameters": {
        "width": 784,
        "height": 480,
        "content": "## 🟨 Overview: Outlook Email Classifier using n8n + OpenAI\n\nThis workflow automatically **classifies incoming Outlook emails** into categories like:\n- High Priority  \n- Customer Support  \n- Promotions  \n- Finance/Billing  \n\nIt then takes smart actions such as moving emails, drafting replies, and sending instant Telegram notifications.  \nPerfect for **busy professionals or teams** who want AI to manage and triage their inbox automatically.\n\n\n---\n\n## 💬 Connect with the Creator\n\n👋 Created by **Sandeep Patharkar**  \n💼 [Connect on LinkedIn](https://www.linkedin.com/in/sandeeppatharkar/)  \n🌐 [Join my Skool community](https://www.skool.com/n8n-ai-automation-champions) for n8n + AI automation tutorials, live Q&As, and exclusive workflow templates.  "
      },
      "typeVersion": 1
    },
    {
      "id": "3e606506-5a4b-47b7-88e5-41eda38ad70c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        448
      ],
      "parameters": {
        "color": 6,
        "width": 688,
        "height": 352,
        "content": "## 🤖 Step 2: Classify Emails with AI\nThe **Email_Classifier_Agent** (powered by GPT-4.1-mini) reads the email’s subject and body, then classifies it into one of four categories:\n- High_Priority  \n- Customer_Support  \n- Promotions  \n- Finance/Billing  "
      },
      "typeVersion": 1
    },
    {
      "id": "ffcb813a-e29c-47a5-bb2d-b6321f194894",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        96
      ],
      "parameters": {
        "width": 304,
        "height": 1008,
        "content": "## 🔀 Step 3: Route Emails by Category\nThe **Routing** node directs each email to the correct Outlook folder:\n- 📂 High Priority → “01 High Priority”  \n- 💬 Customer Support → “02 Customer Support”  \n- 📢 Promotions → “03 Promotions”  \n- 💰 Finance/Billing → “04 Finance and Billing”"
      },
      "typeVersion": 1
    },
    {
      "id": "fac6f0ab-ee5e-42f7-abd2-4d62bc564bdc",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        448
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 352,
        "content": "\n## 🟢 Step 1: Fetch Emails from Outlook\nThe workflow starts with the **Microsoft Outlook Trigger**, monitoring your inbox in real-time.  \nEvery new email is captured and sent for AI-based classification.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "5e6fbda7-8813-430c-aa97-51e84609ddc9",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        96
      ],
      "parameters": {
        "color": 4,
        "width": 480,
        "height": 1008,
        "content": "## 🧩 Step 4: Automate Smart Responses\nEach category triggers a relevant automation:\n- **High Priority:** AI creates a response draft + sends Telegram alert.  \n- **Customer Support:** Auto reply + support team notification.  \n- **Promotions:** AI summarizes campaign content.  \n- **Finance/Billing:** Generates a financial summary + notifies the finance team."
      },
      "typeVersion": 1
    },
    {
      "id": "45ec49c6-6f3e-4cc1-ad20-2bd0e91c9f81",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2976,
        96
      ],
      "parameters": {
        "color": 5,
        "width": 368,
        "height": 992,
        "content": "## 📲 Step 5: Telegram Notifications\nEvery key action sends a **Telegram message** — keeping your team updated instantly without needing to check Outlook manually.\nUpdate the Telegram node by replacing your own chat ID"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {
    "Microsoft Outlook Trigger": [
      {
        "id": "AQMkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKAEYAAAPi3LhRrpx1QJatnpfUr7fjBwDpUeNl0aqPQIjC0k8rTlgxAAACAQwAAADpUeNl0aqPQIjC0k8rTlgxAAiuitQKAAAA",
        "body": {
          "content": "Hi, could you send me a tax invoice for the course I purchased yesterday?\r\n\r\n---\r\nThis email was sent automatically with n8n\r\nhttps://n8n.io\r\n",
          "contentType": "text"
        },
        "flag": {
          "flagStatus": "notFlagged"
        },
        "from": {
          "emailAddress": {
            "name": "sandy4v@gmail.com",
            "address": "sandy4v@gmail.com"
          }
        },
        "isRead": false,
        "sender": {
          "emailAddress": {
            "name": "sandy4v@gmail.com",
            "address": "sandy4v@gmail.com"
          }
        },
        "isDraft": false,
        "replyTo": [],
        "subject": "Invoice Needed for $4999 Course Payment",
        "webLink": "https://outlook.live.com/owa/?ItemID=AQMkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKAEYAAAPi3LhRrpx1QJatnpfUr7fjBwDpUeNl0aqPQIjC0k8rTlgxAAACAQwAAADpUeNl0aqPQIjC0k8rTlgxAAiuitQKAAAA&exvsurl=1&viewmodel=ReadMessageItem",
        "changeKey": "CQAAABYAAADpUeNl0aqPQIjC0k8rTlgxAAiukRpR",
        "categories": [],
        "importance": "normal",
        "@odata.etag": "W/\"CQAAABYAAADpUeNl0aqPQIjC0k8rTlgxAAiukRpR\"",
        "bodyPreview": "Hi, could you send me a tax invoice for the course I purchased yesterday?\r\n\r\n---\r\nThis email was sent automatically with n8n\r\nhttps://n8n.io",
        "ccRecipients": [],
        "sentDateTime": "2025-10-03T14:02:51Z",
        "toRecipients": [
          {
            "emailAddress": {
              "name": "sandy4v@hotmail.com",
              "address": "sandy4v@hotmail.com"
            }
          }
        ],
        "bccRecipients": [],
        "conversationId": "AQQkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKABAAxS0YvvznNkiBJRL01Ml-yA==",
        "hasAttachments": false,
        "parentFolderId": "AQMkADAwATYwMAItOGNjADktOGI4MS0wMAItMDAKAC4AAAPi3LhRrpx1QJatnpfUr7fjAQDpUeNl0aqPQIjC0k8rTlgxAAACAQwAAAA=",
        "createdDateTime": "2025-10-03T14:02:56Z",
        "receivedDateTime": "2025-10-03T14:02:56Z",
        "conversationIndex": "AQHcNG5rxS0YvvznNkiBJRL01Ml/yA==",
        "internetMessageId": "<CAAgcs+HRy0qEZQrwXiFH4x4qVd8AFcxWDnwCGjnkWZVt7W+XBg@mail.gmail.com>",
        "lastModifiedDateTime": "2025-10-03T14:02:57Z",
        "isReadReceiptRequested": false,
        "inferenceClassification": "focused",
        "isDeliveryReceiptRequested": null
      }
    ]
  },
  "connections": {
    "Routing": {
      "main": [
        [
          {
            "node": "Move to High Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move_To_Customer_Support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move_To_Promotions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move_To_Finance/Billing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary & Rec": {
      "main": [
        [
          {
            "node": "Notify_Support_Team1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move_To_Promotions": {
      "main": [
        [
          {
            "node": "Summary & Rec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Finance DL": {
      "main": [
        [
          {
            "node": "Notify_Finance_Head",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to High Priority": {
      "main": [
        [
          {
            "node": "Create_High_Priority_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creating Support Email": {
      "main": [
        [
          {
            "node": "Send Cust Support Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email_Classifier_Agent": {
      "main": [
        [
          {
            "node": "Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move_To_Finance/Billing": {
      "main": [
        [
          {
            "node": "Summary for Finance Dept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move_To_Customer_Support": {
      "main": [
        [
          {
            "node": "Creating Support Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary for Finance Dept": {
      "main": [
        [
          {
            "node": "Send to Finance DL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Email_Classifier_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Cust Support Response": {
      "main": [
        [
          {
            "node": "Notify_Support_Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_High_Priority_Response": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}