n8n-workflow-all-templates/00/01/38/13803_Summarize_invoices_with_AWS_Textract__Google_Gemini__and_send_to_Slack.json
{
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Summarize invoices with AWS Textract, Google Gemini, and send to Slack",
    "wechat": "youandme10086",
    "id": 13803,
    "update_time": "2026-03-12"
  },
  "nodes": [
    {
      "id": "183f2352-a016-4e9a-afc5-62202caa492c",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        0,
        0
      ],
      "webhookId": "f15de10e-6c92-4027-84a9-3d5d9e0b1e9a",
      "parameters": {
        "options": {},
        "formTitle": "invoice extractor",
        "formFields": {
          "values": [
            {
              "fieldName": "data",
              "fieldType": "file",
              "fieldLabel": "data",
              "requiredField": true
            }
          ]
        }
      },
      "typeVersion": 2.4
    },
    {
      "id": "2258c647-11fc-41a4-bb93-ae743106b4a2",
      "name": "Upload a file",
      "type": "n8n-nodes-base.awsS3",
      "position": [
        240,
        -176
      ],
      "parameters": {
        "fileName": "={{ $json.data[0].filename }}",
        "operation": "upload",
        "bucketName": "test",
        "additionalFields": {}
      },
      "typeVersion": 2
    },
    {
      "id": "998ca05e-e2d7-44dc-881e-d2db7570575b",
      "name": "AWS Textract",
      "type": "n8n-nodes-base.awsTextract",
      "position": [
        256,
        112
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "d0b952d3-5a77-420a-82be-d2d5cb6f4ca1",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        432,
        112
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "you will be given invoice data you have to summarize that invoice with key important things"
            }
          ]
        },
        "builtInTools": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "0qx7MVBn4PpeYK6I",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "27ffaaad-8d6b-4e4b-b150-9a95906c3ffe",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "position": [
        784,
        112
      ],
      "webhookId": "ebf81aa3-1c4f-4806-a0d9-3f63655387df",
      "parameters": {
        "user": {
          "__rl": true,
          "mode": "list",
          "value": "U07G370G5MW",
          "cachedResultName": "asana"
        },
        "select": "user",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "6L8H0qlbz4iNwx5m",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.4
    },
    {
      "id": "0d869e2d-b131-4074-8c8f-23a1794828df",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -288
      ],
      "parameters": {
        "width": 560,
        "height": 528,
        "content": "## Automate Invoice Data Extraction and Summarization\n\n\n### How it works\n1. A user submits an invoice file through an n8n form.\n2. The uploaded invoice file is automatically stored in your configured AWS S3 bucket.\n3. AWS Textract processes the file to accurately extract all relevant data, such as line items, totals, and vendor information.\n4. Google Gemini then summarizes the extracted invoice details, highlighting key financial and transactional information.\n5. Finally, this AI-generated summary is sent as a direct message to a specified user or channel in Slack.\n\n\n### Setup\n* [ ] Connect your AWS S3 account.\n* [ ] Specify the AWS S3 bucket name for storing invoice files.\n* [ ] Add your Google Gemini API credentials.\n* [ ] Connect your Slack account.\n* [ ] Select the Slack user or channel to receive the invoice summaries.\n* [ ] Ensure your AWS account has the necessary permissions for Textract and S3 operations."
      },
      "typeVersion": 1
    },
    {
      "id": "0fbc07e9-1bb1-4e6f-ad37-67847a5793c2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -224
      ],
      "parameters": {
        "color": 7,
        "width": 464,
        "height": 512,
        "content": "## Upload to AWS and extract text"
      },
      "typeVersion": 1
    },
    {
      "id": "1031b1f7-50a6-4ece-b6fa-c73d756b201e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        32
      ],
      "parameters": {
        "color": 7,
        "width": 560,
        "height": 256,
        "content": "## summarize and send to slack"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "AWS Textract": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "AWS Textract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}