n8n-workflow-all-templates/00/01/38/13842_Enrich_event_registrations_with_HubSpot__Clearbit__LinkedIn_and_Gemini_AI.json
{
  "id": "oL04nPnY7m5D3txg",
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Enrich event registrations with HubSpot, Clearbit, LinkedIn and Gemini AI",
    "wechat": "youandme10086",
    "id": 13842,
    "update_time": "2026-03-12"
  },
  "name": "Event Registration with Auto-Enrichment Intelligence TEMPLATE",
  "tags": [],
  "nodes": [
    {
      "id": "7ca87806-e687-4892-ab6a-bcf07f130b05",
      "name": "Receive Registration Beacon",
      "type": "n8n-nodes-base.webhook",
      "disabled": true,
      "position": [
        -704,
        640
      ],
      "webhookId": "bb1a736e-ad4d-4f59-a4a7-79322781e4c8",
      "parameters": {
        "path": "reg-beacon",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "d72d293b-6ab6-42f6-85c4-2785e8a7251a",
      "name": "Log Beacon to Data Table",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        -480,
        640
      ],
      "parameters": {
        "columns": {
          "value": {
            "status": "started",
            "event_id": "={{ $json.body.event_id }}",
            "created_at": "={{ $json.body.timestamp }}",
            "session_id": "={{ $json.body.session_id }}",
            "user_agent": "={{ $json.body.user_agent || '' }}",
            "referred_by": "={{ $json.body.referred_by || '' }}"
          },
          "mappingMode": "defineBelow"
        },
        "options": {},
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "PLACEHOLDER_REGISTRATIONS_TABLE_ID"
        }
      },
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "id": "1be269bc-ff7d-4e79-acdb-47091a3a2acf",
      "name": "Respond OK to Beacon",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -272,
        640
      ],
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "e2492242-5a52-4574-b729-d877c9e92be3",
      "name": "Receive Registration",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        608
      ],
      "webhookId": "37f217db-f79d-453a-8263-a480da9f20f1",
      "parameters": {
        "path": "event-registration",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        },
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "6ec9c2ae-4317-423b-bda1-255784a26e55",
      "name": "Validate Registration Data",
      "type": "n8n-nodes-base.code",
      "position": [
        208,
        608
      ],
      "parameters": {
        "jsCode": "// Validate registration form data\nconst body = $input.first().json.body || $input.first().json;\n\nconst errors = [];\n\n// Required fields\nconst firstName = (body.first_name || '').trim();\nconst lastName = (body.last_name || '').trim();\nconst email = (body.email || '').trim().toLowerCase();\nconst company = (body.company || '').trim();\nconst eventId = (body.event_id || '').trim();\nconst sessionId = (body.session_id || '').trim();\nconst promoCode = (body.promo_code || '').trim();\n\nif (!firstName) errors.push('first_name is required');\nif (!lastName) errors.push('last_name is required');\nif (!email) errors.push('email is required');\nif (!company) errors.push('company is required');\nif (!eventId) errors.push('event_id is required');\n\n// Email format validation\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (email && !emailRegex.test(email)) {\n  errors.push('Invalid email format');\n}\n\n// Promo code is passed in from the form (e.g., SPEAKER20, EARLYBIRD, VIP50)\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      valid: false,\n      errors,\n      statusCode: 400\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    first_name: firstName,\n    last_name: lastName,\n    email: email,\n    company: company,\n    event_id: eventId,\n    session_id: sessionId,\n    promo_code: promoCode,\n    registered_at: new Date().toISOString()\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "a94234c5-a958-4dbd-a655-2acfb2cbbc6b",
      "name": "Check Validation Result",
      "type": "n8n-nodes-base.if",
      "position": [
        448,
        608
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.valid }}",
              "rightValue": true
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "474dcd5b-e9ab-4f88-87c4-bffebab4bf87",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        448,
        800
      ],
      "parameters": {
        "options": {
          "responseCode": 400
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, errors: $json.errors }) }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "a45cab37-daf3-4cc5-9e14-a3a13f71b8dd",
      "name": "Create or Update HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        656,
        592
      ],
      "parameters": {
        "email": "={{ $json.email }}",
        "options": {},
        "additionalFields": {
          "lastName": "={{ $json.last_name }}",
          "firstName": "={{ $json.first_name }}",
          "leadStatus": "NEW"
        }
      },
      "credentials": {
        "hubspotApi": {
          "id": "PLACEHOLDER_HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot account"
        }
      },
      "typeVersion": 2,
      "continueOnFail": true
    },
    {
      "id": "a72969b6-6c4c-4940-ad6c-9c65040047ea",
      "name": "Respond Registration Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        848,
        544
      ],
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Registration confirmed!' }) }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "8e4e5e97-580a-473d-8e33-f85104eff2ff",
      "name": "Merge Registration and Enrichment",
      "type": "n8n-nodes-base.code",
      "position": [
        4512,
        608
      ],
      "parameters": {
        "jsCode": "// Merge original registration data with enrichment results\nconst validated = $('Validate Registration Data').first().json;\nconst hubspot = $('Create or Update HubSpot Contact').first().json;\nconst enrichment = $input.first().json || {};\n\nreturn [{\n  json: {\n    first_name: validated.first_name,\n    last_name: validated.last_name,\n    email: validated.email,\n    company: validated.company,\n    event_id: validated.event_id,\n    promo_code: validated.promo_code || '',\n    registered_at: validated.registered_at,\n    hubspot_contact_id: hubspot.id || hubspot.vid || '',\n    enrichment: {\n      company_size: enrichment.company_size || '',\n      industry: enrichment.industry || '',\n      role: enrichment.role || '',\n      seniority: enrichment.seniority || '',\n      linkedin_url: enrichment.linkedin_url || '',\n      location: enrichment.location || '',\n      company_domain: enrichment.company_domain || '',\n      enrichment_score: enrichment.enrichment_score || 0,\n      enrichment_sources: enrichment.enrichment_sources || []\n    }\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "72a44d6c-bb97-44ce-87ab-3a5bee91964e",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        4784,
        480
      ],
      "webhookId": "10605537-7c3c-493a-9553-133b93a2359f",
      "parameters": {
        "options": {},
        "subject": "=You're registered for {{ $json.event_id }}!"
      },
      "typeVersion": 2.1,
      "continueOnFail": true
    },
    {
      "id": "46320f5d-dbe4-4323-95a9-e8698c48257f",
      "name": "Post to Slack Registrations",
      "type": "n8n-nodes-base.slack",
      "position": [
        4784,
        640
      ],
      "webhookId": "d5f395dd-9ed8-4405-ba69-813f4565278d",
      "parameters": {
        "text": "=📋 *New Registration* — {{ $json.event_id }}\n\n*{{ $json.first_name }} {{ $json.last_name }}* — {{ $json.enrichment.role || 'Role TBD' }}\n🏢 {{ $json.company }}{{ $json.enrichment.company_size ? ' (' + $json.enrichment.company_size + ')' : '' }}\n🏭 {{ $json.enrichment.industry || 'Industry TBD' }}\n📍 {{ $json.enrichment.location || 'Location TBD' }}\n🔗 {{ $json.enrichment.linkedin_url || 'No LinkedIn' }}\n📊 Enrichment Score: {{ $json.enrichment.enrichment_score }}/100\n{{ $json.promo_code ? '🏷️ Promo code: ' + $json.promo_code : '' }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "PLACEHOLDER_REGISTRATIONS_CHANNEL"
        },
        "otherOptions": {
          "unfurl_links": false,
          "unfurl_media": false
        },
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "yehGuGNkJFnbJUnx",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.3,
      "continueOnFail": true
    },
    {
      "id": "d84bfc2b-7b30-40a4-b552-f6e823dc9cb2",
      "name": "Has Promo Code?",
      "type": "n8n-nodes-base.if",
      "position": [
        4784,
        800
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.promo_code }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "778f5128-1574-4595-a25c-30a75a9501e4",
      "name": "Log Promo Code Usage",
      "type": "n8n-nodes-base.code",
      "position": [
        5024,
        800
      ],
      "parameters": {
        "jsCode": "// Log promo code usage for analytics\nconst promoCode = $json.promo_code;\n\nreturn [{\n  json: {\n    promo_code: promoCode,\n    used_by: $json.email,\n    event_id: $json.event_id,\n    used_at: new Date().toISOString()\n  }\n}];"
      },
      "typeVersion": 2,
      "continueOnFail": true
    },
    {
      "id": "e02eb807-bab6-494b-8652-a3624e53528f",
      "name": "Prepare Analytics Row",
      "type": "n8n-nodes-base.code",
      "position": [
        4784,
        960
      ],
      "parameters": {
        "jsCode": "// Prepare analytics row for the registration event\nconst reg = $json;\nconst enrichment = reg.enrichment || {};\n\nreturn [{\n  json: {\n    event_id: reg.event_id,\n    email: reg.email,\n    company: reg.company,\n    industry: enrichment.industry || '',\n    company_size: enrichment.company_size || '',\n    enrichment_score: enrichment.enrichment_score || 0,\n    enrichment_sources: (enrichment.enrichment_sources || []).join(', '),\n    promo_code: reg.promo_code || '',\n    registered_at: reg.registered_at,\n    source: 'direct_registration'\n  }\n}];"
      },
      "typeVersion": 2,
      "continueOnFail": true
    },
    {
      "id": "708dcdaf-6d22-4af4-84ed-5b5ea52b4145",
      "name": "Log Registration Analytics",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        5024,
        960
      ],
      "parameters": {
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {},
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "PLACEHOLDER_REG_ANALYTICS_TABLE_ID"
        }
      },
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "id": "sticky-intro-reg",
      "name": "Intro — Registration Processor",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        384
      ],
      "parameters": {
        "width": 660,
        "height": 1100,
        "content": "## Event Registration + Auto-Enrichment \n\n### **What it does:**\nComplete event registration intelligence in a single workflow:\n1. **One-page registration** — 4 fields, instant confirmation\n2. **Auto-enrichment waterfall** — Clearbit → LinkedIn → Google+AI\n3. **Promo code validation** — AJAX endpoint for discount codes\n4. **HubSpot CRM** — contacts auto-created with enriched data\n5. **Abandoned cart beacon** — tracks form opens for recovery\n\n### **Why it matters:**\n65% of event planners see flat/declining registrations. Multi-page forms cause 80-90% drop-off. This captures just 4 fields while enriching 15+ data points post-registration.\n\n### **Three webhook paths:**\n- `POST /event-registration` — main registration\n- `POST /reg-beacon` — abandoned cart tracking\n- `POST /validate-promo` — promo code validation\n\n### **Setup steps:**\n1. Create Data Tables: `enriched_profiles`, `reg_analytics`, `promo_codes`\n2. Create HubSpot credential + custom properties\n3. Add API credentials: Clearbit, Proxycurl, SerpAPI\n4. Connect Google Gemini, Slack OAuth2, Email (SMTP)\n5. Update all `PLACEHOLDER_*` values\n6. Host `reg-page/index.html` and update webhook URLs\n\n### **Companion templates:**\n- **Abandoned Cart Recovery** — follow-up emails\n- **Alumni Re-engager** — AI-personalized outreach\n"
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-beacon",
      "name": "Section 1 — Beacon",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        384
      ],
      "parameters": {
        "color": 6,
        "width": 676,
        "height": 492,
        "content": "## 1. Abandoned Cart Beacon\n\nThe HTML page fires a `form_started` beacon on page load. This creates a `started` record. If the user submits, it updates to `confirmed`. If they don't submit within 1h → abandoned cart sequence triggers (separate template)."
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-validate",
      "name": "Section 2 — Validate & Create HubSpot Contact",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        384
      ],
      "parameters": {
        "color": 4,
        "width": 1080,
        "height": 560,
        "content": "## 2. Validate & Create HubSpot Contact\n\nServer-side validation (required fields, email format) → **HubSpot upsert** (create if new, update if email exists).\n\nSets `lifecycle_stage=lead`, `lead_status=NEW`. Maps: `email`, `firstname`, `lastname`, `company`, `promo_code`, `event_registration`.\n\nResponds immediately with success — **no user-facing latency**. Enrichment runs async after the response."
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-enrichment",
      "name": "Section 3 — Enrichment Waterfall",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        384
      ],
      "parameters": {
        "color": 2,
        "width": 3356,
        "height": 820,
        "content": "## 3. Enrichment Waterfall (Async)\n\nRuns AFTER the webhook has responded. Waterfall stops early when enough data is found — saves API costs.\n\n**Step 1:** Cache check (skip if recently enriched with score ≥50) → **Step 2:** Clearbit/Apollo (person + company from email) → **Step 3:** Proxycurl LinkedIn (profile resolution) → **Step 4:** Google Search + Gemini AI (last resort)\n\n**Score → Cache → Merge** back into registration data. Expected cost: ~$0.08/registrant with cache hits."
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-notify",
      "name": "Section 4 — Notify & Log",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4448,
        384
      ],
      "parameters": {
        "color": 5,
        "width": 808,
        "height": 828,
        "content": "## 4. Notify & Log\n\nAfter enrichment merges back:\n- **Confirmation email** with event details\n- **Slack notification** with enriched data\n- **Promo code credit** (if applicable)\n- **Analytics log** for reporting"
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-errors",
      "name": "Section — Error Handling",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4448,
        1248
      ],
      "parameters": {
        "color": 3,
        "width": 680,
        "height": 240,
        "content": "## ⚠️ Error Handling\n\nAll non-critical nodes in this workflow use `continueOnFail`:\n- **HubSpot** unreachable → registration still responds to user\n- **Enrichment APIs** fail → registration confirmed, enrichment skipped\n- **Email/Slack** fail → other notifications still send\n- **Analytics** fail → user experience unaffected\n\nThe webhook responds BEFORE enrichment starts — users never wait."
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-contact-reg",
      "name": "Contact — Braia Labs",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6432,
        384
      ],
      "parameters": {
        "width": 560,
        "height": 1160,
        "content": "## Was this helpful? Get in touch!\n\n[![clic](https://vptkuqoipqbebipqjnqw.supabase.co/storage/v1/object/public/Milo%20Bravo/seeAxWUupcOOXY5tntexZ_video.gif)](https://tally.so/r/EkKGgB)\n\nI really hope this automation helped you. Your feedback is incredibly valuable and helps me create better resources for business and the n8n community.\n\n### **Have Feedback, a Question, or a Project Idea?**\n\nI've streamlined the way we connect. It all starts with one simple form that takes less than 10 seconds. After that, you'll chat with my AI assistant who will gather the key details and pass them directly on to me.\n\n####  **[Start the conversation here](https://tally.so/r/EkKGgB)**\n\n*   **Give Feedback:** Share your thoughts on this template—whether you found a typo, encountered an unexpected error, have a suggestion, or just want to say thanks!\n\n*   **n8n Consulting:** Have a complex business challenge or need a custom workflow built from scratch? Let's partner on a powerful automation solution tailored to your specific needs.\n\n*   **Join your team:** We can work together to get you launched with confidence.\n\n---\n\nHappy Automating!\n[Milo Bravo](https://linkedin.com/in/MiloBravo/) | BRaiA Labs | Automation & BI Systems + AI Integration"
      },
      "typeVersion": 1
    },
    {
      "id": "d449cc49-45b2-418f-8a62-0c1a51c79dab",
      "name": "Initialize Enrichment State",
      "type": "n8n-nodes-base.code",
      "position": [
        1184,
        688
      ],
      "parameters": {
        "jsCode": "// Initialize enrichment state from registration data\nconst hubspot = $('Create or Update HubSpot Contact').first().json;\nconst validated = $('Validate Registration Data').first().json;\n\nreturn [{\n  json: {\n    // Input fields — prefer validated data, HubSpot as fallback\n    email: validated.email || hubspot.properties?.email || '',\n    first_name: validated.first_name || hubspot.properties?.firstname || '',\n    last_name: validated.last_name || hubspot.properties?.lastname || '',\n    company: validated.company || hubspot.properties?.company || '',\n    event_id: validated.event_id || '',\n\n    // Enrichment fields (to be filled by waterfall)\n    company_size: '',\n    industry: '',\n    role: '',\n    seniority: '',\n    linkedin_url: '',\n    location: '',\n    company_domain: '',\n    company_description: '',\n    person_bio: '',\n\n    // Meta\n    enrichment_sources: [],\n    enrichment_score: 0,\n    started_at: new Date().toISOString()\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "cc455412-e21a-461f-9af6-58f407b7dcb2",
      "name": "Check Enrichment Cache",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1360,
        688
      ],
      "parameters": {
        "url": "https://milobravo1.app.n8n.cloud/api/v1/data-tables/PLACEHOLDER_ENRICHED_PROFILES_TABLE_ID/rows",
        "options": {
          "timeout": 10000
        },
        "sendQuery": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "filter",
              "value": "={{ 'email=' + $json.email }}"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "id": "2ecd0874-edaf-4cf1-9c07-1c3c82b177ae",
      "name": "Cache Hit with Good Score?",
      "type": "n8n-nodes-base.if",
      "position": [
        1648,
        688
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.email }}",
              "rightValue": ""
            },
            {
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.enrichment_score }}",
              "rightValue": "50"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "d75efb87-f909-49e7-a174-b0b917cfa335",
      "name": "Return Cached Profile",
      "type": "n8n-nodes-base.code",
      "position": [
        4016,
        528
      ],
      "parameters": {
        "jsCode": "// Return the cached enriched profile\nconst cached = $input.first().json;\nreturn [{\n  json: {\n    ...cached,\n    enrichment_sources: ['cache'],\n    from_cache: true\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "6bd3163d-9f0c-4641-90b8-63a80c6bc613",
      "name": "Enrich via Clearbit",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1888,
        704
      ],
      "parameters": {
        "url": "=https://person-stream.clearbit.com/v2/combined/find?email={{ $('Initialize Enrichment State').item.json.email }}",
        "options": {
          "timeout": 10000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "id": "05f39e8d-75b9-4158-8927-63b4a7718aad",
      "name": "Parse Clearbit Results",
      "type": "n8n-nodes-base.code",
      "position": [
        2096,
        704
      ],
      "parameters": {
        "jsCode": "// Parse Clearbit combined API response\nconst state = $('Initialize Enrichment State').first().json;\nconst result = $input.first().json;\n\n// Check if Clearbit returned useful data\nconst person = result.person || {};\nconst company = result.company || {};\n\nlet enriched = { ...state };\nlet sources = [...(state.enrichment_sources || [])];\n\nif (person.employment?.title) {\n  enriched.role = person.employment.title;\n  enriched.seniority = person.employment.seniority || '';\n  sources.push('clearbit_person');\n}\n\nif (person.linkedin?.handle) {\n  enriched.linkedin_url = 'https://linkedin.com/in/' + person.linkedin.handle;\n}\n\nif (person.location) {\n  enriched.location = person.location;\n}\n\nif (person.bio) {\n  enriched.person_bio = person.bio;\n}\n\nif (company.name) {\n  enriched.company_domain = company.domain || '';\n  enriched.company_description = company.description || '';\n  sources.push('clearbit_company');\n}\n\nif (company.metrics?.employees) {\n  const emp = company.metrics.employees;\n  if (emp < 50) enriched.company_size = 'startup';\n  else if (emp < 200) enriched.company_size = 'SMB';\n  else if (emp < 1000) enriched.company_size = 'mid-market';\n  else enriched.company_size = 'enterprise';\n}\n\nif (company.category?.industry) {\n  enriched.industry = company.category.industry;\n}\n\nenriched.enrichment_sources = sources;\n\nreturn [{ json: enriched }];"
      },
      "typeVersion": 2
    },
    {
      "id": "2d76e5d5-72fd-4b95-a445-a1d248e4de00",
      "name": "Enough Data After Clearbit?",
      "type": "n8n-nodes-base.if",
      "position": [
        2304,
        704
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.role }}",
              "rightValue": ""
            },
            {
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.company_size }}",
              "rightValue": ""
            },
            {
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.industry }}",
              "rightValue": ""
            },
            {
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.linkedin_url }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "6be306be-2068-45a7-aeba-ae93c10a85ef",
      "name": "Enrich via Proxycurl LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2592,
        784
      ],
      "parameters": {
        "url": "=https://nubela.co/proxycurl/api/linkedin/profile/resolve/email?work_email={{ $('Initialize Enrichment State').item.json.email }}&lookup_depth=deep",
        "options": {
          "timeout": 15000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "id": "a8575fed-1043-4d21-bb02-de2027489eac",
      "name": "Parse Proxycurl Results",
      "type": "n8n-nodes-base.code",
      "position": [
        2832,
        784
      ],
      "parameters": {
        "jsCode": "// Parse Proxycurl LinkedIn resolution response\nconst state = $('Parse Clearbit Results').first().json;\nconst result = $input.first().json;\n\nlet enriched = { ...state };\nlet sources = [...(enriched.enrichment_sources || [])];\n\nif (result.url || result.linkedin_profile_url) {\n  enriched.linkedin_url = enriched.linkedin_url || result.url || result.linkedin_profile_url || '';\n  sources.push('proxycurl');\n}\n\nif (result.headline) {\n  enriched.role = enriched.role || result.headline;\n}\n\nif (result.industry) {\n  enriched.industry = enriched.industry || result.industry;\n}\n\nif (result.city || result.country_full_name) {\n  enriched.location = enriched.location || [result.city, result.country_full_name].filter(Boolean).join(', ');\n}\n\nif (result.summary) {\n  enriched.person_bio = enriched.person_bio || result.summary;\n}\n\nenriched.enrichment_sources = sources;\n\nreturn [{ json: enriched }];"
      },
      "typeVersion": 2
    },
    {
      "id": "fc98c6cb-785a-4215-bbb4-268423caeed9",
      "name": "Enough Data After LinkedIn?",
      "type": "n8n-nodes-base.if",
      "position": [
        3056,
        784
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.role }}",
              "rightValue": ""
            },
            {
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.industry }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "7f2bf671-afb8-4983-8905-e26b1d039b8c",
      "name": "Search Google for Person",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3280,
        880
      ],
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "options": {
          "timeout": 10000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Initialize Enrichment State').item.json.first_name }} {{ $('Initialize Enrichment State').item.json.last_name }} {{ $('Initialize Enrichment State').item.json.company }}"
            },
            {
              "name": "api_key",
              "value": "PLACEHOLDER_SERPAPI_KEY"
            },
            {
              "name": "num",
              "value": "5"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "id": "7c6a3fa2-a4f4-43c6-b80a-f576f72fa118",
      "name": "Extract Intelligence with Gemini",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        3504,
        880
      ],
      "parameters": {
        "options": {},
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"role\": \"VP of Marketing\", \"industry\": \"Technology\", \"location\": \"Paris, France\", \"linkedin_url\": \"https://linkedin.com/in/example\", \"company_size\": \"enterprise\", \"seniority\": \"VP\"}"
      },
      "typeVersion": 1
    },
    {
      "id": "6ad08f42-2937-45ae-bab6-d1d50bf69dfa",
      "name": "Google Gemini for Extraction",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        3504,
        1056
      ],
      "parameters": {
        "options": {
          "temperature": 0.1
        },
        "modelName": "models/gemini-2.5-flash-lite"
      },
      "typeVersion": 1
    },
    {
      "id": "c49f9ad8-311e-41dd-a3b6-ce48b3b93382",
      "name": "Merge AI Extraction Results",
      "type": "n8n-nodes-base.code",
      "position": [
        3824,
        880
      ],
      "parameters": {
        "jsCode": "// Merge AI extraction results with existing enrichment state\nconst state = $('Parse Proxycurl Results').first()?.json\n  || $('Parse Clearbit Results').first()?.json\n  || $('Initialize Enrichment State').first().json;\n\nconst aiResult = $input.first().json.output || $input.first().json || {};\n\nlet enriched = { ...state };\nlet sources = [...(enriched.enrichment_sources || [])];\n\n// Only fill in missing fields from AI extraction\nif (!enriched.role && aiResult.role) enriched.role = aiResult.role;\nif (!enriched.industry && aiResult.industry) enriched.industry = aiResult.industry;\nif (!enriched.location && aiResult.location) enriched.location = aiResult.location;\nif (!enriched.linkedin_url && aiResult.linkedin_url) enriched.linkedin_url = aiResult.linkedin_url;\nif (!enriched.company_size && aiResult.company_size) enriched.company_size = aiResult.company_size;\nif (!enriched.seniority && aiResult.seniority) enriched.seniority = aiResult.seniority;\n\nif (aiResult.role || aiResult.industry || aiResult.location) {\n  sources.push('google_ai');\n}\n\nenriched.enrichment_sources = sources;\n\nreturn [{ json: enriched }];"
      },
      "typeVersion": 2
    },
    {
      "id": "d383b947-ff2e-47ff-a4b8-d22950f29650",
      "name": "Score Data Completeness",
      "type": "n8n-nodes-base.code",
      "position": [
        4016,
        704
      ],
      "parameters": {
        "jsCode": "// Score enrichment completeness (0-100)\nconst d = $input.first().json;\n\nlet score = 0;\nconst weights = {\n  role: 20,\n  industry: 15,\n  company_size: 15,\n  linkedin_url: 15,\n  location: 10,\n  seniority: 10,\n  company_domain: 5,\n  person_bio: 5,\n  company_description: 5\n};\n\nfor (const [field, weight] of Object.entries(weights)) {\n  if (d[field] && d[field].trim() !== '') {\n    score += weight;\n  }\n}\n\nreturn [{\n  json: {\n    ...d,\n    enrichment_score: score,\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "19cda09e-248c-4f94-ba3d-2236385d668b",
      "name": "Cache Enriched Profile",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        4192,
        832
      ],
      "parameters": {
        "columns": {
          "value": {
            "role": "={{ $json.role }}",
            "email": "={{ $json.email }}",
            "industry": "={{ $json.industry }}",
            "location": "={{ $json.location }}",
            "cached_at": "={{ $json.completed_at }}",
            "seniority": "={{ $json.seniority }}",
            "company_size": "={{ $json.company_size }}",
            "linkedin_url": "={{ $json.linkedin_url }}",
            "company_domain": "={{ $json.company_domain }}",
            "enrichment_score": "={{ $json.enrichment_score }}",
            "enrichment_sources": "={{ $json.enrichment_sources.join(', ') }}"
          },
          "mappingMode": "defineBelow"
        },
        "options": {},
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "PLACEHOLDER_ENRICHED_PROFILES_TABLE_ID"
        }
      },
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "id": "sticky-cost",
      "name": "Section — Cost Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2800,
        1264
      ],
      "parameters": {
        "color": 3,
        "width": 560,
        "height": 204,
        "content": "## ⚠️ API Cost Management\n\nWaterfall stops early when \"good enough\":\n- **Clearbit**: ~$0.05-0.10/lookup (highest ROI)\n- **Proxycurl**: ~$0.01/credit (only if Clearbit has gaps)\n- **SerpAPI + Gemini**: ~$0.005 combined (last resort)\n\nCache prevents re-enriching. Average: **~$0.08/registrant**."
      },
      "typeVersion": 1
    },
    {
      "id": "dd444c0a-26ce-4f98-b9e1-ef1522dbe6be",
      "name": "Receive Promo Code Validation",
      "type": "n8n-nodes-base.webhook",
      "position": [
        5392,
        592
      ],
      "webhookId": "a0097b86-9523-472b-b11d-8b447494949b",
      "parameters": {
        "path": "validate-promo",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "b343e4d1-486c-4f21-a9a6-67d0dd49ef15",
      "name": "Parse Promo Code",
      "type": "n8n-nodes-base.code",
      "position": [
        5712,
        592
      ],
      "parameters": {
        "jsCode": "// Parse and validate promo/discount code\nconst body = $input.first().json.body || $input.first().json;\nconst promoCode = (body.promo_code || body.code || '').trim().toUpperCase();\n\nif (!promoCode) {\n  return [{\n    json: {\n      valid: false,\n      message: 'No promo code provided',\n      discount_percent: 0\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    promo_code: promoCode,\n    checked_at: new Date().toISOString()\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "6d977e9f-cc2a-4ec0-9bf9-122ae60f704e",
      "name": "Lookup Promo Code",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5984,
        592
      ],
      "parameters": {
        "url": "https://milobravo1.app.n8n.cloud/api/v1/data-tables/PLACEHOLDER_REFERRALS_TABLE_ID/rows",
        "options": {
          "timeout": 10000
        },
        "sendQuery": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "filter",
              "value": "={{ 'code=' + $json.promo_code }}"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "id": "0da85a5b-4f08-4aa4-92eb-4ad5dd77f9db",
      "name": "Validate Promo Code",
      "type": "n8n-nodes-base.code",
      "position": [
        6208,
        592
      ],
      "parameters": {
        "jsCode": "// Validate promo code against lookup results\nconst result = $input.first().json;\nconst rows = result.data || result.rows || [result];\nconst promoCode = $('Parse Promo Code').first().json.promo_code;\n\n// Check if promo code exists and is still valid\nconst match = rows.find(r =>\n  (r.code || '').toUpperCase() === promoCode\n);\n\nif (!match) {\n  return [{\n    json: {\n      valid: false,\n      promo_code: promoCode,\n      message: 'Invalid promo code',\n      discount_percent: 0\n    }\n  }];\n}\n\n// Check expiry\nconst expiresAt = match.expires_at ? new Date(match.expires_at) : null;\nif (expiresAt && expiresAt < new Date()) {\n  return [{\n    json: {\n      valid: false,\n      promo_code: promoCode,\n      message: 'This promo code has expired',\n      discount_percent: 0\n    }\n  }];\n}\n\n// Check usage limit\nconst maxUses = parseInt(match.max_uses || '0', 10);\nconst currentUses = parseInt(match.current_uses || '0', 10);\nif (maxUses > 0 && currentUses >= maxUses) {\n  return [{\n    json: {\n      valid: false,\n      promo_code: promoCode,\n      message: 'This promo code has reached its usage limit',\n      discount_percent: 0\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    promo_code: promoCode,\n    discount_percent: parseInt(match.discount_percent || '0', 10),\n    discount_label: match.label || promoCode,\n    message: match.label || ('Discount: ' + match.discount_percent + '% off'),\n    current_uses: currentUses + 1\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "23b55f05-fe50-4632-b3b7-a152ed44cad5",
      "name": "Log Promo Code to Data Table",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        5728,
        832
      ],
      "parameters": {
        "columns": {
          "value": {
            "valid": "={{ $json.valid }}",
            "used_at": "={{ $now.toISO() }}",
            "promo_code": "={{ $json.promo_code }}"
          },
          "mappingMode": "defineBelow"
        },
        "options": {},
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "PLACEHOLDER_PROMO_CODES_TABLE_ID"
        }
      },
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "id": "b67418e4-ef15-414e-b424-6a30849d5165",
      "name": "Respond with Promo Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        5392,
        816
      ],
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ valid: $json.valid, promo_code: $json.promo_code, discount_percent: $json.discount_percent || 0, message: $json.message || '' }) }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "sticky-intro-ref",
      "name": "Section 5 — Promo Code Validation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5296,
        384
      ],
      "parameters": {
        "color": 7,
        "width": 1096,
        "height": 832,
        "content": "## 5. Promo Code Validation (Separate Webhook)\n\nAJAX endpoint (`POST /validate-promo`) called by the HTML registration page. Validates codes against a Data Table: checks expiry date, usage limits, active status. Returns JSON with discount percentage and validity."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "afa906f6-fd2d-4a19-81a7-7d9e22bf0f36",
  "connections": {
    "Has Promo Code?": {
      "main": [
        [
          {
            "node": "Log Promo Code Usage",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Parse Promo Code": {
      "main": [
        [
          {
            "node": "Lookup Promo Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Promo Code": {
      "main": [
        [
          {
            "node": "Validate Promo Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich via Clearbit": {
      "main": [
        [
          {
            "node": "Parse Clearbit Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Promo Code": {
      "main": [
        [
          {
            "node": "Log Promo Code to Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Promo Code Usage": {
      "main": [
        [
          {
            "node": "Respond with Promo Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Registration": {
      "main": [
        [
          {
            "node": "Validate Registration Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Analytics Row": {
      "main": [
        [
          {
            "node": "Log Registration Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Cached Profile": {
      "main": [
        [
          {
            "node": "Merge Registration and Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrichment Cache": {
      "main": [
        [
          {
            "node": "Cache Hit with Good Score?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Clearbit Results": {
      "main": [
        [
          {
            "node": "Enough Data After Clearbit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation Result": {
      "main": [
        [
          {
            "node": "Create or Update HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Proxycurl Results": {
      "main": [
        [
          {
            "node": "Enough Data After LinkedIn?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Data Completeness": {
      "main": [
        [
          {
            "node": "Cache Enriched Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Registration and Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Beacon to Data Table": {
      "main": [
        [
          {
            "node": "Respond OK to Beacon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Google for Person": {
      "main": [
        [
          {
            "node": "Extract Intelligence with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Hit with Good Score?": {
      "main": [
        [
          {
            "node": "Return Cached Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enrich via Clearbit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Registration Data": {
      "main": [
        [
          {
            "node": "Check Validation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enough Data After Clearbit?": {
      "main": [
        [
          {
            "node": "Score Data Completeness",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enrich via Proxycurl LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enough Data After LinkedIn?": {
      "main": [
        [
          {
            "node": "Score Data Completeness",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Google for Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Enrichment State": {
      "main": [
        [
          {
            "node": "Check Enrichment Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI Extraction Results": {
      "main": [
        [
          {
            "node": "Score Data Completeness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Registration Beacon": {
      "main": [
        [
          {
            "node": "Log Beacon to Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini for Extraction": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Intelligence with Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Log Promo Code to Data Table": {
      "main": [
        [
          {
            "node": "Respond with Promo Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich via Proxycurl LinkedIn": {
      "main": [
        [
          {
            "node": "Parse Proxycurl Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Promo Code Validation": {
      "main": [
        [
          {
            "node": "Parse Promo Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or Update HubSpot Contact": {
      "main": [
        [
          {
            "node": "Respond Registration Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Initialize Enrichment State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Intelligence with Gemini": {
      "main": [
        [
          {
            "node": "Merge AI Extraction Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Registration and Enrichment": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Slack Registrations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Promo Code?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Analytics Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}