n8n-workflow-all-templates/00/01/37/13779_Extract_invoice_data_from_scanned_PDFs_to_Google_Sheets_with_Sarvam_and_Gemini.json
{
  "id": "R6sFRgN0GrPyZDqz",
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Extract invoice data from scanned PDFs to Google Sheets with Sarvam and Gemini",
    "wechat": "youandme10086",
    "id": 13779,
    "update_time": "2026-03-12"
  },
  "name": "Sarvam AI OCR_Final Template",
  "tags": [],
  "nodes": [
    {
      "id": "1d8aaea5-50f4-417c-a495-10bbead06c7e",
      "name": "Get OCR Result",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4736,
        512
      ],
      "parameters": {
        "url": "=https://api.sarvam.ai/doc-digitization/job/v1/{{ $json.job_id }}/download-files",
        "method": "POST",
        "options": {},
        "sendHeaders": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cu0irPV1Q2zkmGGQ",
          "name": "Header Auth account"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "2f3e09a9-4c89-4d92-9974-d311bd98764c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        4512,
        528
      ],
      "webhookId": "018feca1-1a08-4ba0-9a87-65aed0e656b0",
      "parameters": {
        "unit": "minutes",
        "amount": 2
      },
      "typeVersion": 1.1
    },
    {
      "id": "c9f9cbda-9b96-4ae6-a07c-989a50a24ee3",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        6016,
        416
      ],
      "parameters": {
        "text": "={{ $json.text }}",
        "options": {
          "batching": {},
          "systemPromptTemplate": "You are a structured document information extraction engine.\n\nExtract only the attributes defined in the schema from the provided text.\n\nGuidelines:\n- Use exact text from the document when possible.\n- Do not modify names or values.\n- Do not include titles unless part of the actual name.\n- If any attribute is missing, return \"NOT_FOUND\".\n- Do not add explanations.\n- Output must be valid JSON strictly matching the schema."
        },
        "attributes": {
          "attributes": [
            {
              "name": "Invoice No.",
              "description": "Invoice No."
            },
            {
              "name": "Patient Name",
              "description": "Patient Name"
            },
            {
              "name": "GSTIN",
              "description": "GSTIN/UIN"
            },
            {
              "name": "PRODUCT NAME",
              "description": "List of all the product names"
            },
            {
              "name": "Date",
              "description": "Dated"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "17cc69a7-89a4-4878-85ba-c3fa474fcced",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        6112,
        560
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "PEMQPJJfkuXMvMJG",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "94386d1a-d6d0-4310-8b0b-ffe11c9dea44",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2320,
        16
      ],
      "parameters": {
        "color": 7,
        "width": 488,
        "height": 268,
        "content": "![Sarvam](https://i.ibb.co/cqhn57z/Image-25-02-26-at-4-57-PM.png)"
      },
      "typeVersion": 1
    },
    {
      "id": "e62143ab-fbdc-450a-87cb-4290101a7de1",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2320,
        304
      ],
      "parameters": {
        "width": 476,
        "height": 960,
        "content": "## Try It Out!\n### This template is designed for operations, finance, and accounting teams that need to automatically process scanned invoices and extract structured data without manual entry.\n\nIt is ideal for businesses handling vendor invoices, reimbursement forms, or bulk document intake.\n\n### What this workflow does\nThis workflow uses Sarvam AI Vision model to perform OCR on scanned invoices and extract raw text. The extracted content is then processed using an LLM to identify key invoice fields such as:\n\n* Vendor name\n* Invoice number\n* Invoice date\n* Total amount\n* GST / Tax amount\n\nThe structured data is automatically appended to Google Sheets for tracking, reconciliation, or downstream accounting automation.\n\n\n### Requirements\n* Sarvam Vision API key (configured using HTTP Header credentials)-(https://dashboard.sarvam.ai/key-management)\n* Google Gemini API key (configured via Google Gemini credentials in n8n)\n* Google Sheets OAuth credentials\n\n### How to set up\n1.) Add your Sarvam API key in Credentials.\n2.) Connect your Google Sheets account.\n3.) Update the target Sheet ID.\n4.)Test with a sample invoice PDF.\n\n### Need Help?\nask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!"
      },
      "typeVersion": 1
    },
    {
      "id": "c231d31a-63f6-45cd-b315-3ad3a5eb66da",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        288
      ],
      "parameters": {
        "color": 7,
        "width": 680,
        "height": 396,
        "content": "## Step 1 – Upload invoice to Sarvam\n\nCreates an OCR job and uploads the invoice PDF to Sarvam Vision using a presigned URL."
      },
      "typeVersion": 1
    },
    {
      "id": "2600dbea-343e-43b0-915a-b80754561431",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3968,
        288
      ],
      "parameters": {
        "color": 7,
        "width": 680,
        "height": 396,
        "content": "## Step 2 – Run OCR and monitor status\n\nStarts invoice OCR processing and polls the job status until processing is complete."
      },
      "typeVersion": 1
    },
    {
      "id": "93779407-170e-4777-829b-d8c216597ea8",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4864,
        272
      ],
      "parameters": {
        "color": 7,
        "width": 680,
        "height": 396,
        "content": "## Step 3 – Retrieve OCR output\n\nDownloads the processed invoice output, decompresses the file, and extracts structured OCR JSON."
      },
      "typeVersion": 1
    },
    {
      "id": "64f63c6a-1b4b-4b12-8dc5-291278ba49a1",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5616,
        272
      ],
      "parameters": {
        "color": 7,
        "width": 680,
        "height": 396,
        "content": "## Step 4 – Convert OCR text to structured invoice fields\n\nCleans OCR text and uses an LLM to extract structured invoice data such as vendor name, invoice number, date, and total amount."
      },
      "typeVersion": 1
    },
    {
      "id": "5bf723ac-5039-49a1-aac2-845cb51f38a3",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6368,
        272
      ],
      "parameters": {
        "color": 7,
        "width": 568,
        "height": 396,
        "content": "## Step 5 – Store invoice data\n\nAppends extracted invoice fields to Google Sheets for accounting and tracking."
      },
      "typeVersion": 1
    },
    {
      "id": "77ff9c34-271c-40ce-9073-09f69e34af8a",
      "name": "Trigger – Invoice upload (PDF)",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        2944,
        512
      ],
      "webhookId": "c1355def-f324-4242-9458-5dcfd75db2a5",
      "parameters": {
        "options": {},
        "formTitle": "Upload doc",
        "formFields": {
          "values": [
            {
              "fieldType": "file",
              "fieldLabel": "Form"
            }
          ]
        },
        "formDescription": "Please upload the PDF"
      },
      "typeVersion": 2.5
    },
    {
      "id": "031609ee-fac3-4ec3-a5f0-e42a68b606c1",
      "name": "Create Sarvam invoice OCR job",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3168,
        448
      ],
      "parameters": {
        "url": "https://api.sarvam.ai/doc-digitization/job/v1",
        "method": "POST",
        "options": {},
        "jsonBody": "{\n  \"job_parameters\": {\n    \"document_type\": \"generic\"\n  }\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cu0irPV1Q2zkmGGQ",
          "name": "Header Auth account"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "03b6619c-b0bb-4bfa-8263-71bea0e78ddb",
      "name": "Generate Sarvam presigned upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3392,
        448
      ],
      "parameters": {
        "url": "https://api.sarvam.ai/doc-digitization/job/v1/upload-files",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"job_id\":\"{{ $json.job_id }}\" ,\n  \"files\": [\"{{ $('Trigger – Invoice upload (PDF)').item.json.Form[0].filename }}\"]\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cu0irPV1Q2zkmGGQ",
          "name": "Header Auth account"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "fbba4b7c-b87f-4b44-b0c4-4e5386004928",
      "name": "Merge job details with upload URL",
      "type": "n8n-nodes-base.merge",
      "position": [
        3648,
        528
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combineBy": "combineByPosition"
      },
      "typeVersion": 3.2
    },
    {
      "id": "47311e83-af0a-4eaa-bd4c-60e98b5e0321",
      "name": "Upload invoice PDF to Sarvam",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3840,
        528
      ],
      "parameters": {
        "url": "={{ $json.upload_urls[$json.Form[0].filename].file_url }}",
        "method": "PUT",
        "options": {},
        "sendBody": true,
        "contentType": "binaryData",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/pdf"
            },
            {
              "name": "x-ms-blob-type",
              "value": "BlockBlob"
            }
          ]
        },
        "inputDataFieldName": "=Form"
      },
      "typeVersion": 4.4
    },
    {
      "id": "0adf4930-6472-4609-a634-1ad4f03fd7ed",
      "name": "Start Sarvam invoice OCR",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4064,
        528
      ],
      "parameters": {
        "url": "=https://api.sarvam.ai/doc-digitization/job/v1/{{ $('Merge job details with upload URL').item.json.job_id }}/start",
        "method": "POST",
        "options": {},
        "sendHeaders": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cu0irPV1Q2zkmGGQ",
          "name": "Header Auth account"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "f5ea5e03-d459-4726-b3d0-7b24207233f4",
      "name": "Check Sarvam OCR status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4288,
        528
      ],
      "parameters": {
        "url": "=https://api.sarvam.ai/doc-digitization/job/v1/{{ $json.job_id }}/status",
        "method": "=GET",
        "options": {},
        "sendHeaders": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cu0irPV1Q2zkmGGQ",
          "name": "Header Auth account"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "54d04f7f-d3b4-4c15-a601-23949597a9db",
      "name": "Download Sarvam OCR output ZIP",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4960,
        512
      ],
      "parameters": {
        "url": "={{ $json.download_urls['document.zip'].file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "f358f256-8000-4c7a-b9b9-9e7a4196a44a",
      "name": "Decompress OCR result file",
      "type": "n8n-nodes-base.compression",
      "position": [
        5184,
        512
      ],
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "9217f6b2-3398-4db6-b289-a1159468a3ca",
      "name": "Extract invoice OCR JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        5408,
        512
      ],
      "parameters": {
        "options": {},
        "operation": "fromJson",
        "binaryPropertyName": "file_1"
      },
      "typeVersion": 1.1
    },
    {
      "id": "65054226-a6c5-4a94-ae25-ba4d387aa369",
      "name": "Prepare invoice text for LLM",
      "type": "n8n-nodes-base.code",
      "position": [
        5792,
        416
      ],
      "parameters": {
        "jsCode": "let fullText = '';\n\nconst blocks = $json.data?.blocks || [];\n\nfor (const block of blocks) {\n  if (block.text) {\n    fullText += block.text + '\\n';\n  }\n}\n\nreturn [\n  {\n    json: {\n      text: fullText\n    }\n  }\n];"
      },
      "typeVersion": 2
    },
    {
      "id": "68d1eb26-eb97-498f-8e0d-69f56e9dcf12",
      "name": "Append extracted invoice data to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        6544,
        416
      ],
      "parameters": {
        "columns": {
          "value": {
            "Date": "={{ $json.output.Date }}",
            "GSTIN/UIN": "={{ $json.output.GSTIN }}",
            "Invoice No.": "={{ $json.output['Invoice No.'] }}",
            "Patient Name": "={{ $json.output['Patient Name'] }}",
            "Description of Good": "={{ $json.output['PRODUCT NAME'] }}"
          },
          "schema": [
            {
              "id": "Invoice No.",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Invoice No.",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Patient Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "GSTIN/UIN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "GSTIN/UIN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description of Good",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Description of Good",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "GSTIN/UIN"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wIFY0a43yfoh1G_Kaon0t52ybVWnI4vL3DHhSk3DqQ0/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1wIFY0a43yfoh1G_Kaon0t52ybVWnI4vL3DHhSk3DqQ0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wIFY0a43yfoh1G_Kaon0t52ybVWnI4vL3DHhSk3DqQ0/edit?usp=drivesdk",
          "cachedResultName": "Invoice OCR"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vm2t4pi3YH8KIJO2",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.7
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "9c86fe2c-c1e6-4cb1-8b9a-73a913e6007b",
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Get OCR Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OCR Result": {
      "main": [
        [
          {
            "node": "Download Sarvam OCR output ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append extracted invoice data to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sarvam OCR status": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract invoice OCR JSON": {
      "main": [
        [
          {
            "node": "Prepare invoice text for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start Sarvam invoice OCR": {
      "main": [
        [
          {
            "node": "Check Sarvam OCR status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress OCR result file": {
      "main": [
        [
          {
            "node": "Extract invoice OCR JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare invoice text for LLM": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload invoice PDF to Sarvam": {
      "main": [
        [
          {
            "node": "Start Sarvam invoice OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sarvam invoice OCR job": {
      "main": [
        [
          {
            "node": "Generate Sarvam presigned upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Sarvam OCR output ZIP": {
      "main": [
        [
          {
            "node": "Decompress OCR result file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger – Invoice upload (PDF)": {
      "main": [
        [
          {
            "node": "Create Sarvam invoice OCR job",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge job details with upload URL",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge job details with upload URL": {
      "main": [
        [
          {
            "node": "Upload invoice PDF to Sarvam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sarvam presigned upload URL": {
      "main": [
        [
          {
            "node": "Merge job details with upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}