n8n-workflow-all-templates/00/00/44/4438_Goodreads_Quote_Extraction_with_Bright_Data_and_Gemini.json
{
  "id": "lpCfR0fpgqHfgTDW",
  "meta": {
    "site": "https://github.com/zengfr/n8n-workflow-all-templates",
    "name": "Goodreads Quote Extraction with Bright Data and Gemini",
    "wechat": "youandme10086",
    "id": 4438,
    "update_time": "2025-11-10"
  },
  "name": "Quotes Extract with Bright Data and Google Gemini",
  "tags": [
    {
      "id": "ddPkw7Hg5dZhQu2w",
      "name": "AI",
      "createdAt": "2025-04-13T05:38:08.053Z",
      "updatedAt": "2025-04-13T05:38:08.053Z"
    }
  ],
  "nodes": [
    {
      "id": "f24eddf0-1bbf-46fd-be31-a72019a92af3",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -700,
        -160
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "d61df43f-b017-4beb-b83c-5d1d4043dc59",
      "name": "Set the fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -460,
        -160
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "df8d8553-5db1-4d40-b602-abde5cbc8acb",
              "name": "url",
              "type": "string",
              "value": "https://www.goodreads.com/quotes/tag/free"
            },
            {
              "id": "e304247f-6ec9-4081-8245-3298af252c9a",
              "name": "zone",
              "type": "string",
              "value": "web_unlocker1"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "0ecc04bf-cafa-4c99-9895-f94aa25fdedc",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        0,
        20
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.0-flash-exp"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "YeO7dHZnuGBVQKVZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "cf048d4e-34e7-4d8d-8d44-5845a2cb5578",
      "name": "Quotes Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        -20,
        -160
      ],
      "parameters": {
        "text": "=Extract the quotes from  {{ $json.data }}",
        "options": {},
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"array\",\n\t\"properties\": {\n\t\t\"quote\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "typeVersion": 1
    },
    {
      "id": "4c7e58f4-3fae-42c6-96fb-d2d08f554077",
      "name": "Perform Bright Data Web Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -240,
        -160
      ],
      "parameters": {
        "url": "https://api.brightdata.com/request",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "zone",
              "value": "={{ $json.zone }}"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "format",
              "value": "raw"
            },
            {
              "name": "data_format",
              "value": "markdown"
            }
          ]
        },
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {}
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "kdbqXuxIR8qIxF7y",
          "name": "Header Auth account"
        }
      },
      "typeVersion": 4.2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fcd551b3-a6b6-4689-bc32-afc3dcebff10",
  "connections": {
    "Set the fields": {
      "main": [
        [
          {
            "node": "Perform Bright Data Web Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Quotes Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Perform Bright Data Web Request": {
      "main": [
        [
          {
            "node": "Quotes Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set the fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}